
@model ChangePasswordDto
@{
    ViewData["Title"] = "Change password";
}

@* <partial name="_StatusMessage" for="StatusMessage" /> *@

@* Changpassword *@
<section class="vh-100">
    <div class="container py-4 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6 flex justify-content-center align-content-center gap-4">
                <h3 class="text-center">“We make a living by what we get. We make a life by what we give."</h3>
                <h4 class="text-center"><i>Winston Churchill</i></h4>
                <img src="~/images/loginImage.jpeg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 ">
                <h2 class="mb-4 italic text-center font-bold"><b>Change password</b></h2>
                <form asp-action="ChangePassword" asp-controller="Auth" method="post" class="border-1 rounded-2 border-primary p-4 border-solid shadow-lg" style="background: white">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    @if (Model.UserId != null)
                    {
                        <input type="hidden" asp-for="UserId" />
                    }

                    <!-- Old Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input asp-for="@Model.OldPassword" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                        <label asp-for="@Model.OldPassword" class="form-label"></label>
                        <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                    </div>

                    <!-- New Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input asp-for="@Model.NewPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                        <label asp-for="@Model.NewPassword" class="form-label"></label>
                        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">

                        <input asp-for="@Model.ConfirmPassword" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                        <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>

                    </div>


                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary btn-lg"
                            style="width: 100%"
                            id="login">
                        Save change Password
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>



@* 
<section class="vh-100">
    <div class="container py-4 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100 gap-4">
            <form id="change-password-form" method="post" asp-action="ChangePassword" asp-controller="Auth">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                @if (Model.UserId != null)
                {
                    <input type="hidden" asp-for="UserId" />
                }
                <div class="form-floating mb-3">
                    <input asp-for="@Model.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                    <label asp-for="@Model.OldPassword" class="form-label"></label>
                    <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                    <label asp-for="@Model.NewPassword" class="form-label"></label>
                    <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                    <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
            </form>
        </div>
    </div>
</section>
 *@


@* 

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post" asp-action="ChangePassword" asp-controller="Auth">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            @if (Model.UserId != null)
            {
                <input type="hidden" asp-for="UserId" />
            }
            <div class="form-floating mb-3">
                <input asp-for="@Model.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                <label asp-for="@Model.OldPassword" class="form-label"></label>
                <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                <label asp-for="@Model.NewPassword" class="form-label"></label>
                <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div> *@