@model IEnumerable<Dynamics.Models.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<div class="max-w-full my-5 p-5 pt-12 ml-12">
    <div class="p-4 rounded-lg shadow-md border bg-white max-w-xl mt-4 justify-center w-1/2 mx-auto">
        <div class="my-5 flex justify-center">
            <h1 class="text-center text-3xl">Are you the one in need?</h1>
        </div>

        <div class="flex justify-center my-5">
            <a asp-action="Create" asp-controller="Request" asp- class="my-5">
                <button id="createOrgBtn" class="btn btn-wide bg-red-500 text-white rounded-full">
                    Create your request now!!!
                </button>
            </a>
        </div>
    </div>
    
    <div class="my-5">
        <h1 class="text-center text-3xl text-red-600">Discover all active requests</h1>
    </div>

    <div class="grid grid-cols-3 gap-4 ml-5 justify-center">
        @foreach(var item in Model)
        {
            <div class="card bg-base-100 w-96 shadow-xl ">
                <figure>
                    <a asp-action="Detail" asp-controller="Request" asp-route-organizationId="@item.RequestID">
                        <img src="@item.Attachment"
                             alt="" />
                    </a>
                    
                </figure>
                <div class="card-body">
                    <a asp-action="Detail" asp-controller="Request" asp-route-organizationId="@item.RequestID">
                        <h2 class="card-title">"@item.RequestTitle"</h2>
                        </a>
                    <h4>Start date: @item.CreationDate</h4>
                    <p>@item.Content</p>
                    <div class="card-actions justify-center my-5">
                        <button class="btn btn-primary">View Request Detail</button>
                    </div>
                </div>
            </div>
        }
        

        <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Shoes!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Shoes!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Shoes!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Shoes!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
                <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                     alt="Shoes" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Shoes!</h2>
                <p>If a dog chews shoes whose shoes does he choose?</p>
                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>

    </div>
</div>
