@model IEnumerable<Dynamics.Models.Models.Request>

@{
ViewData["Title"] = "My Request";
}

<div class="max-w-full my-5 p-5 pt-12">
    <div class="flex justify-center my-5">
        <a asp-action="Create" asp-controller="Request" class="my-5">
            <button id="createOrgBtn" class="btn btn-wide bg-red-500 text-white">
                Create new request
            </button>
        </a>
    </div>

    <div class="my-5">
        <h1 class="text-center text-3xl">Your requests</h1>
    </div>
    <form asp-action="MyRequest" method="get" class="mb-6">
        <input type="text" name="searchQuery" placeholder="Search requests"
               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-600 leading-tight focus:outline-none focus:shadow-outline">
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>
    @if (!Model.Any())
    {
        <h5>No request found!</h5>
    }
    else
    {
        <div class="grid grid-cols-4 gap-4 ml-5 flex justify-center">
            @foreach(var item in Model)
            {
                <div class="card bg-base-100 w-64 shadow-xl">
                    <figure>
                        <a asp-action="Detail" asp-controller="Request" asp-route-id="@item.RequestID">
                            <img src="@item.Attachment" alt="Request Image" />
                        </a>
                    </figure>
                    <div class="card-body h-96">
                        <a asp-action="Detail" asp-controller="Request" asp-route-id="@item.RequestID">
                            <h2 class="card-title">@item.RequestTitle</h2>
                        </a>
                        <h4>Start date: @item.CreationDate</h4>
                        <p class="truncate ...">@item.Content</p>
                        <div class="card-actions justify-center my-5">
                            <a asp-action="Detail" asp-controller="Request" asp-route-id="@item.RequestID">
                                <button class="btn btn-primary">View Request Detail</button>
                            </a>
                            <a asp-action="Edit" asp-controller="Request" asp-route-id="@item.RequestID">
                                <button class="btn btn-primary">Edit Request</button>
                            </a>
                            <a asp-action="Delete" asp-controller="Request" asp-route-id="@item.RequestID">
                                <button class="btn bg-red-700 text-white hover:bg-red-900">Delete Request</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>   
    }

    <div class="pagination mt-4 flex justify-center space-x-1.5">
        @if (ViewBag.CurrentPage > 1)
        {
                <a href="@Url.Action("MyRequest", new { pageNumber = ViewBag.currentPage - 1, pageSize = 4 })">
                    <button class="btn bg-white text-black rounded-lg border-solid">Previous</button>
                </a>
        }

        @for (int i = 1; i <= ViewBag.totalPages; i++)
        {
                <a href="@Url.Action("MyRequest", new { pageNumber = i, pageSize = 4 })"
                   class="@(ViewBag.CurrentPage == i ? "active" : "")">
                    <button class="btn bg-white text-black rounded-lg border-solid">@i</button>
                </a>
        }

        @if (ViewBag.CurrentPage < ViewBag.totalPages)
        {
                <a href="@Url.Action("MyRequest", new { pageNumber = ViewBag.currentPage + 1, pageSize = 4 })">
                    <button class="btn bg-white text-black rounded-lg border-solid">Next</button>
                </a>
        }
    </div>
</div>
