@model Dynamics.Models.Models.Organization

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationPictures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationPictures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShutdownDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShutdownDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEOID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEOID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isBanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isBanned)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrganizationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
