@model Dynamics.Models.Models.Organization

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationPictures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationPictures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShutdownDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShutdownDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEOID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEOID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isBanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isBanned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrganizationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
