@using Dynamics.Utility
@using Newtonsoft.Json
@model Dynamics.Models.Models.Project
@inject IHttpContextAccessor Accessor


@{
    ViewData["Title"] = "CreateProject";

}

@{
    //current Organization
    var organizationString = Accessor.HttpContext.Session.GetString("organization");
    Organization currentOrganization = null;
    if (organizationString != null)
    {
        currentOrganization = JsonConvert.DeserializeObject<Organization>(organizationString);
    }

    //Members in a organization with orrganizationId
    var userMembersInOrganization = Accessor.HttpContext.Session.Get<List<User>>(MySettingSession.SESSION_User_In_A_OrganizationID_KEY);

    //find Ceo Oragnization
    User userCeoOrganization = new User();
    foreach (var item in userMembersInOrganization)
    {
        if (item.UserID.Equals(currentOrganization.CEOID))
        {
            userCeoOrganization = item;
            break;
        }
    }
}



<div class="container  my-5 pt-12 flex justify-center items-center">
    <div class=" bg-white p-8 rounded-lg shadow-lg">
        <div class="flex justify-center items-center py-5 my-5">
            <h1 class="text-3xl font-semibold mx-5">Create a new project</h1>
            <div class="flex items-center mx-5">
                <span class="text-3xl mr-2 font-semibold">or:</span>
                <button class="bg-gray-600 text-white px-4 font-semibold py-2 rounded text-lg">Import data from request</button>
            </div>
        </div>

        <div class="w-full">
            <div class="border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">
                <form class="py-5 px-5" asp-action="CreateProject" asp-controller="Project" enctype="multipart/form-data" method="post">
                    <div>
                        <input asp-for="OrganizationID" value="@currentOrganization.OrganizationID" class="hidden">
                        <input asp-for="RequestID" value="@Model.RequestID" class="hidden">
                        <input asp-for="ProjectAddress" value="@Model.ProjectAddress" class="hidden">
                        <input asp-for="ProjectStatus" value="1" class="hidden">
                    </div>

                    <div class="grid grid-cols-2 gap-6 mb-6">
                        <div>
                            <label asp-for="ProjectName" class="block text-base font-medium text-gray-700 mb-1">Enter project name</label>
                            <input asp-for="ProjectName" type="text" id="project-name" class="w-full p-2 border border-gray-300 rounded"
                                   placeholder="Enter your name">
                        </div>

                        <div>
                            <div class="flex items-center">
                                <label class="block text-base font-medium text-gray-700 mb-1 mr-5">Upload project images</label>
                                <div class="flex items-center">
                                    <label for="file-upload" class="file-upload-label px-4 py-2 mx-4 bg-blue-900 text-white rounded text-base">
                                        <span>Choose images</span>
                                    </label>
                                    <input asp-for="Attachment" id="file-upload" type="file" name="image" class="hidden">
                                </div>
                            </div>

                            <p class="text-sm text-gray-500 mt-3">The images will appear in your project covers and description</p>
                        </div>
                    </div>

                    <div class="mb-6">
                        <label asp-for="ProjectDescription" class="block text-base font-medium text-gray-700 mb-1">
                            Enter project
                            description
                        </label>
                        <textarea asp-for="ProjectDescription" id="project-description" rows="4" class="w-full p-2 border border-gray-300 rounded"
                                  placeholder="Enter your text"></textarea>
                    </div>
                    <div class="mb-6">
                        <label asp-for="ProjectEmail" class="block text-base font-medium text-gray-700 mb-1">
                            Enter project contact Email!
                        </label>
                        <input asp-for="ProjectEmail" type="email" id="project-contact" rows="4" class="w-full p-2 border border-gray-300 rounded"
                                  placeholder="Enter Email"></input>
                    </div>

                    <div class="mb-6">
                        <label asp-for="ProjectPhoneNumber" class="block text-base font-medium text-gray-700 mb-1">
                            Enter project contact Phone!
                        </label>
                        <input asp-for="ProjectPhoneNumber" type="tel" id="project-contact" rows="4" class="w-full p-2 border border-gray-300 rounded"
                               placeholder="Enter tel"></input>
                    </div>

                    <div class="grid grid-cols-2 gap-6 mb-6">
                        <div class="w-full">
                            <label asp-for="StartTime" class="block text-base font-medium text-gray-700 mb-1">
                                Select a project start
                                time
                            </label>
                            <input asp-for="StartTime" type="date" id="start-time" class="w-full p-2 border rounded">
                            <p class="text-sm text-gray-500 mt-1">
                                The date that your project starts. Before that, your project will
                                continue to receive donations.
                            </p>
                        </div>
                        <div class="w-full ">
                            <label asp-for="EndTime" class="block text-base font-medium text-gray-700 mb-1">
                                Select a project end time
                                (estimated)
                            </label>
                            <input asp-for="EndTime" type="date" id="end-time" class="w-full p-2 border rounded">
                            <p class="text-sm text-gray-500 mt-1">The estimated date that your project will end.</p>
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-6 mb-6">
                        <div>
                            <label asp-for="LeaderID" class="block text-base font-medium text-gray-700 mb-1">
                                Assign a member to lead this
                                project (Optional)
                            </label>
                            <select asp-for="LeaderID" id="project-lead" class="w-full p-2 border border-gray-300 rounded">
                                <option>Options</option>
                                @foreach (var item in @userMembersInOrganization)
                                {
                                    if (item.UserID.Equals(@currentOrganization.CEOID))
                                    {
                                      <option class="text-xl text-black font-semibold" value="@item.UserID">[Yourself] - [@item.UserFullName] - [@item.UserEmail] - [@item.UserID]</option>

                                    }
                                    <option class="text-xl text-black font-semibold" value="@item.UserID">[@item.UserFullName] - [@item.UserEmail] - [@item.UserID]</option>
                                }
                            </select>
                        </div>
                        <div>
                            <label for="invite-members" class="block text-base font-medium text-gray-700 mb-1">
                                Invite members from your
                                organization
                            </label>
                            <select id="invite-members" class="w-full p-2 border border-gray-300 rounded">
                                <option>Options</option>
                            </select>
                        </div>
                    </div>

                    
                    
                    <div class="flex justify-center py-5">
                        <button class=" bg-green-500 text-white py-3 px-3 rounded" type="submit">Create new project</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>



