@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@inject IProjectMemberRepository ProjectMemberRepository
@model IEnumerable<Dynamics.Models.Models.ProjectMember>

@{
    ViewData["Title"] = "Manage Project Member";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";

    var currentUserIDString = Accessor.HttpContext.Session.GetString("currentUserID");
    // take current project
    var currentProjectID = new Guid(Accessor.HttpContext.Session.GetString("currentProjectID"));
    //take leader id
    var ProjectMemberOfUser = ProjectMemberRepository.FilterProjectMember(p => p.ProjectID.Equals(currentProjectID) && p.UserID.Equals(new Guid(currentUserIDString)));
    var statusProjectMemberOfUser = ProjectMemberOfUser?.FirstOrDefault()?.Status;

}

<!-- container -->
<div class="m-w-screen-2xl flex flex-col items-center justify-center relative">
    <!-- title -->
    <h2 class="font-serif text-black font-bold text-3xl text-center my-6">Project members</h2>
    <!-- PART 1 -->
    <div class="flex relative justify-end my-6 w-3/4">
            @if (statusProjectMemberOfUser >= 2)
        {
            <!-- review button -->
            <div class="relative">
                <a asp-action="ReviewJoinRequest" asp-route-id="@currentProjectID" asp-controller="Project">
                <button type="button"
                        class="h-10 text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                    Review
                    join request
                </button>
                    @if (ViewData["hasJoinRequest"]!=null && (bool)ViewData["hasJoinRequest"])
                {
                    <div style="top:-8.5px;right:-8px;" class="absolute"> <i class="fa-solid fa-circle-exclamation text-red-700 bg-red-700 rounded-full" style="font-size:22px;"></i></div>
                }
            </a>
        </div>
        }
    </div>

    <!-- PART 2 -->
    <!-- list transaction -->
    <div class="flex flex-col relative w-3/4 gap-y-6 mb-10">
        @for(int i=0;i<Model.Count();i++)
        {
            var item = Model.ElementAt(i);
            <div class="grid grid-cols-3 gap-x-10 py-2 px-6 shadow-md shadow-blue-500/30 rounded-xl items-center">

            <div class="flex justify-start items-center ">
                <div class="text-left p-2 text-semibold text-xl text-gray-900">@(i+1).</div>
                <div class=" flex items-center">
                    <img class="rounded-full w-10 h-10 mx-4 "
                         src="@item.User.UserAvatar"
                         alt="avatar">
                </div>
                <div class="flex flex-col ">
                        <a asp-action="Details" asp-controller="EditUser" asp-route-id="@item.User.UserID" class="text-black font-bold">@item.User.UserFullName</a>
                        
                    </div>
            </div>
            <div class="text-center">
                    @if (item.Status==2)
                    {
                        <p class="text-red-500 font-bold">CEO</p>
                    }else if (item.Status == 3)
                    {
                        <p class="text-red-500 font-semibold">Leader</p>
                    }
                    else if(item.Status == 1)
                    {
                        <p class="text-gray-900 font-semibold">Member</p>
                    }
                
            </div>
            <div class="text-right ">
                    @if (statusProjectMemberOfUser >= 2)
                    {
                        @if (item.Status ==2)
                        {
                            <button type="button" class="cursor-not-allowed h-10 text-white  bg-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">CEO</button>
                        }
                        else if (item.Status == 3)
                        {
                            <button type="button" class="cursor-not-allowed h-10 text-white  bg-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Leader</button>
                        }
                        else
                        {
                            <a asp-action="DeleteProjectMember" asp-controller="Project" asp-route-id="@item.User.UserID" type="button" class="h-10 text-white  bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Remove</a>
                        }
                    }
                </div>
        </div>
        }

        <div class="h-36"></div>
    </div>
    <!-- pagination -->
    <div class="pagination mt-4 flex justify-center space-x-1.5">
        @if (ViewBag.currentPagePM > 1)
        {
        <a href="@Url.Action("Index", new { pageNumberPM = ViewBag.currentPagePM - 1, pageSize = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Previous</button>
        </a>
        }

        @for (int i = 1; i <= ViewBag.totalPagesPM; i++)
        {
        <a href="@Url.Action("Index", new { pageNumberPM = i, pageSize = 10 })"
           class="@(ViewBag.currentPagePM == i ? "btn-primary" : "")">
            <button class="btn bg-white text-black rounded-lg border-solid">@i</button>
        </a>
        }
        @if (ViewBag.currentPagePM < ViewBag.totalPagesPM)
        {
        <a href="@Url.Action("Index", new { pageNumberPM = ViewBag.currentPagePM + 1, pageSize = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Next</button>
        </a>
        }
    </div>
</div>

<!-- end container -->