@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@model IEnumerable<Dynamics.Models.Models.History>

@{
    ViewData["Title"] = "Manage Project Phase Report";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
    var currentUserID = Accessor.HttpContext.Session.GetString("currentUserID");
    var currentProjectLeaderID = Accessor.HttpContext.Session.GetString("currentProjectLeaderID");
    var currentProjectID = Accessor.HttpContext.Session.GetString("currentProjectID");
    
}
<!-- container -->
<div class="m-w-screen-2xl flex flex-col items-center justify-center relative ">
    <!-- title -->
    <h2 class="font-serif text-black font-bold text-3xl text-center mt-10 mb-2">Project updates</h2>
    <!-- PART 1 -->
    <div class="flex relative justify-end mb-6" style="width:90%;">
        @if (currentProjectLeaderID.Equals(currentUserID))
        {
            <!-- add button -->
            <a asp-action="AddProjectPhaseReport" asp-controller="Project" asp-route-projectid="@currentProjectID">
                <button type="button"
                    class="h-14 text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-md px-4 py-2">
                Create activities report
            </button>
        </a>
        }
    </div>

    <!-- PART 2 -->
    <!-- list updates -->
    <div class="flex flex-col mb-10 border-l-2 border-gray-400 w-24 mx-10 "
         style="width:90%;">
         @for(int i = 0; i< Model.Count();i++){
             var item = Model.ElementAt(i);
        <!-- update 1 -->
        <div class=" w-full flex justify-between  relative  mb-10  pl-4">
            <div class="h-fit flex justify-start items-start gap-x-2">
                    @if (i==0)
                    {
                        <button type="button"
                                class="h-20 w-40 text-white text-2xl bg-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2">
                            @item.Date
                        </button>
                    } else {
                        <button type="button"
                                class="h-20 w-40 text-black text-2xl bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2">
                            @item.Date
                        </button>
                    }

                <div class="flex items-center w-full self-center relative">
                    <hr class="border-t-2 border-gray-400 w-24">
                </div>
            </div>
            <div class="relative w-10/12 ml-2 flex flex-col shadow-md p-8 rounded-2xl" style="background-color:#ffffff;">
                    @if (currentProjectLeaderID.Equals(currentUserID))
                    {
                <!-- edit button -->
                        <a asp-action="EditProjectPhaseReport" asp-route-projectid="@item.ProjectID" asp-route-historyid="@item.HistoryID" title="Edit project phase report">
                    <button type="button" class="absolute top-0 w-fit h-fit mx-2 my-2 p-2 " style="right:45px;">
                        <i class="fa-solid fa-pen-to-square text-4xl text-gray-900"></i>
                    </button>
                        </a>      
                        <a asp-action="DeleteProjectPhaseReport" asp-route-id="@item.HistoryID" title="Delete project phase report">
                    <button type="button" class="absolute top-0 w-fit h-fit mx-2 my-2 p-2 " style="right:-5px;">
                        <i class="fa-solid fa-trash text-4xl text-gray-900"></i>
                    </button>
                </a>
                }
                <h2 class="font-bold text-3xl text-gray-900">@item.Phase</h2>
                <span class="text-gray-500 text-md">By leader project or someone else</span>
                <div class=" text-base text-gray-900 line-clamp-3">
                    @item.Content
                </div>
                    
                <div class="flex justify-start gap-x-6 pt-4">
                        @{
                            string[] imagesPhase = new string[1] { "," };
                            if (item.Attachment != null)
                            {
                                imagesPhase = item.Attachment.TrimEnd(',', ' ').Split(",");
                            }
                        }
                        
                        @foreach(var img in imagesPhase){
                            <img src="@img" alt="current-phase-img" class="h-36 w-36 rounded-xl shadow-md cursor-pointer" />
                        }
                </div>
            </div>
        </div>
         }
     

    </div>
