@model ProjectTransactionHistoryVM
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@inject IProjectMemberRepository ProjectMemberRepository


<!-- Navbar -->
@{
    ViewData["Title"] = "Get All Donors";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
   
    var currentUserID = Accessor.HttpContext.Session.GetString("currentUserID");
    var currentProjectID = Accessor.HttpContext.Session.GetString("currentProjectID");
    var ProjectMemberOfUser = ProjectMemberRepository.FilterProjectMember(p => p.ProjectID.Equals(new Guid(currentProjectID)) && p.UserID.Equals(new Guid(currentUserID)));
    var statusProjectMemberOfUser = ProjectMemberOfUser?.FirstOrDefault()?.Status;
    var currentProjectLeaderID = Accessor.HttpContext.Session.GetString("currentProjectLeaderID");
    var currentProjectCEOID = Accessor.HttpContext.Session.GetString("currentProjectCEOID");

}
    <link rel="stylesheet" href="~/css/output.css">
<!-- container -->
<div class="m-w-screen-2xl flex flex-col items-center justify-center relative">
    <!--SECTION 1: USER DONATE-->
    <!-- title -->
    <h2 class="font-serif text-black font-bold text-3xl text-center my-6">User transaction history</h2>
    <!-- PART 1 -->
    <div class="flex relative justify-between my-6 w-3/4">
        <div class="flex gap-x-6">
            <!-- choose filer/search & button review donate request -->
            <form class="max-w-md  flex items-center">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                <div class="relative ">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                           class="block w-full px-14 py-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500  "
                           placeholder="Search for something..." required />
                </div>
            </form>
            <!-- filter dropdown -->
            <div class="relative inline-block text-left py-2">
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                            id="menu-button" aria-expanded="false" aria-haspopup="true" onclick="toggleDropdown()">
                        Filter
                        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <!-- Dropdown menu -->
                <div id="dropdown-menu"
                     class="hidden absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
                        transition ease-out duration-100 transform opacity-0 scale-95"
                     role="menu" aria-orientation="vertical" aria-labelledby="menu-button">
                    <div class="py-1" role="none">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Name</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Date</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Type resource</a>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- request button -->
        <div class="relative">
            @if (statusProjectMemberOfUser >= 2)
            {
                <a asp-action="ReviewUserDonateRequest" asp-controller="Project" asp-route-id="@currentProjectID">
                <button type="button"
                        class="h-10 text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                    Review
                    donate request
                </button>
                    @if (ViewData["hasUserDonateRequest"] != null && (bool)ViewData["hasUserDonateRequest"])
                    {
                <div style="top:-8.5px;right:-8px;" class="absolute"> <i class="fa-solid fa-circle-exclamation text-red-700 bg-red-700 rounded-full" style="font-size:22px;"></i></div>
                    }
                 </a>
            }
          
        </div>
      
    </div>

    <!-- PART 2 -->
    <!-- list transaction -->
    <div class="flex flex-col relative w-3/4 gap-y-6 mb-10">
        @foreach (var item in Model.UserDonate)
        {
            <div class="grid grid-cols-2 py-2 px-6 shadow-md shadow-blue-500/30 rounded-xl items-center">
                <div class="flex justify-start ">
                    <div class=" flex items-center">
                        <img class="rounded-full w-10 h-10 mr-4 "
                             src="@item.User.UserAvatar"
                             alt="avatar">
                    </div>
                    <div class="flex flex-col ">
                        <p class="text-black font-bold">@item.User.UserFullName</p>
                        <p class="text-gray-400 font-normal text-base ">@item.Time</p>
                    </div>
                </div>
                <div class="flex flex-col justify-end ml-auto items-end">
                    <p class="text-green-500 font-bold">+@item.Amount @item.ProjectResource?.Unit</p>
                    @if (item.ProjectResource.ResourceName.Trim().ToLower().Equals("money"))
                    {
                        <p class=" bg-green-500 text-white rounded-3xl w-fit px-8 my-2">Money</p>
                    }
                    else{
                        <p class=" bg-orange-500 text-white rounded-3xl w-fit px-8 my-2">@item.ProjectResource.ResourceName</p>
                        }
                    </div>
                <div class="py-2 text-gray-900">@item.Message</div>
            </div>
            
        }
    </div>
    <!-- pagination -->
    <div class="pagination mt-4 flex justify-center space-x-1.5">
        @if (ViewBag.currentPageUD > 1)
        {
        <a href="@Url.Action("Index", new { pageNumberUD = ViewBag.currentPageUD - 1,
        pageNumberOD = ViewBag.currentPageOD, pageSize = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Previous</button>
        </a>
        }

        @for (int i = 1; i <= ViewBag.totalPagesUD; i++)
        {
        <a href="@Url.Action("Index", new { pageNumberUD = i,
        pageNumberOD = ViewBag.currentPageOD, pageSize = 10 })"
           class="@(ViewBag.currentPageUD == i ? "btn-primary" : "")">
            <button class="btn bg-white text-black rounded-lg border-solid">@i</button>
        </a>
        }
        @if (ViewBag.currentPageUD < ViewBag.totalPagesUD)
        {
        <a href="@Url.Action("Index", new { pageNumberUD = ViewBag.currentPageUD + 1,
        pageNumberOD = ViewBag.currentPageOD, pageSize = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Next</button>
        </a>
        }
    </div>

    <!-- SECTION 2: ORGANIZATION DONATE-->
     <!-- title -->
    <h2 class="font-serif text-black font-bold text-3xl text-center my-6">Organization transaction history</h2>
    <!-- PART 1 -->
    <div class="flex relative justify-between my-6 w-3/4">
        <div class="flex gap-x-6">
            <!-- choose filer/search & button review donate request -->
            <form class="max-w-md  flex items-center">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                <div class="relative ">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                           class="block w-full px-14 py-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500  "
                           placeholder="Search for something..." required />
                </div>
            </form>
            <!-- filter dropdown -->
            <div class="relative inline-block text-left py-2">
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                            id="menu-button" aria-expanded="false" aria-haspopup="true" onclick="toggleDropdown()">
                        Filter
                        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <!-- Dropdown menu -->
                <div id="dropdown-menu"
                     class="hidden absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
                        transition ease-out duration-100 transform opacity-0 scale-95"
                     role="menu" aria-orientation="vertical" aria-labelledby="menu-button">
                    <div class="py-1" role="none">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Name</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Date</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Type resource</a>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- request button -->
        <div class="relative">
            @if (statusProjectMemberOfUser == 3 || currentProjectLeaderID.Equals(currentProjectCEOID))
            {
                <a asp-action="ReviewOrgDonateRequest" asp-controller="Project" asp-route-id="@currentProjectID">
                <button type="button"
                        class="h-10 text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                    Review
                    donate request
                </button>
                    @if (ViewData["hasOrgDonateRequest"] != null && (bool)ViewData["hasOrgDonateRequest"])
                    {
                <div style="top:-8.5px;right:-8px;" class="absolute"> <i class="fa-solid fa-circle-exclamation text-red-700 bg-red-700 rounded-full" style="font-size:22px;"></i></div>
                    }
                 </a>
            }
            
        </div>
      
    </div>

    <!-- PART 2 -->
    <!-- list transaction -->
    <div class="flex flex-col relative w-3/4 gap-y-6 mb-10">
        @foreach (var item in Model.OrganizationDonate)
        {
            <div class="grid grid-cols-2 py-2 px-6 shadow-md shadow-blue-500/30 rounded-xl items-center">
                <div class="flex justify-start ">
                    <div class=" flex items-center">
                        <img class="rounded-full w-10 h-10 mr-4 "
                             src="@item.OrganizationResource.Organization.OrganizationPictures"
                             alt="avatar">
                    </div>
                    <div class="flex flex-col ">
                        <p class="text-black font-bold">@item.OrganizationResource.Organization.OrganizationName</p>
                        <p class="text-gray-400 font-normal text-base ">@item.Time</p>
                    </div>
                </div>
                <div class="flex flex-col justify-end ml-auto items-end">
                    <p class="text-green-500 font-bold">+@item.Amount @item.ProjectResource?.Unit</p>
                    @if (item.ProjectResource.ResourceName.Trim().ToLower().Equals("money"))
                    {
                        <p class=" bg-green-500 text-white rounded-3xl w-fit px-8 my-2">Money</p>
                    }
                    else
                    {
                        <p class=" bg-orange-500 text-white rounded-3xl w-fit px-8 my-2">@item.ProjectResource.ResourceName</p>
                    }
                </div>
                <div class="py-2 text-gray-900">@item.Message</div>
            </div>
        }
    </div>
    <!-- pagination -->
    <div class="pagination mt-4 flex justify-center space-x-1.5">
        @if (ViewBag.currentPageOD > 1)
        {
        <a href="@Url.Action("Index", new { pageNumberOD = ViewBag.currentPageOD - 1,
        pageNumberUD = ViewBag.currentPageUD, pageSize = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Previous</button>
        </a>
        }

        @for (int i = 1; i <= ViewBag.totalPagesOD; i++)
        {
        <a href="@Url.Action("Index", new { pageNumberOD = i,
        pageNumberUD = ViewBag.currentPageUD, pageSize = 10 })"
           class="@(ViewBag.currentPageOD == i ? "btn-primary" : "")">
            <button class="btn bg-white text-black rounded-lg border-solid">@i</button>
        </a>
        }
        @if (ViewBag.currentPageOD < ViewBag.totalPagesOD)
        {
        <a href="@Url.Action("Index", new { pageNumberOD = ViewBag.currentPageOD + 1,
        pageNumberUD = ViewBag.currentPageUD, pageSize = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Next</button>
        </a>
        }
    </div>

</div>

<!-- end container -->
<script>
    function toggleDropdown() {
        var dropdownMenu = document.getElementById("dropdown-menu");
        dropdownMenu.classList.toggle("hidden");
        dropdownMenu.classList.toggle("transform");
        dropdownMenu.classList.toggle("opacity-100");
        dropdownMenu.classList.toggle("scale-100");
    }
</script>