@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@model IEnumerable<Dynamics.Models.Models.ProjectMember>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Review Join Request";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
    // take current project
    var currentProjectID = Accessor.HttpContext.Session.GetString("currentProjectID");
}
<!-- container -->
<div class="m-w-screen-2xl flex flex-col items-center justify-center relative">
    <!-- turn back button -->
    <a asp-action="ManageProjectMember" asp-route-id="@currentProjectID" title="Turn back to manage project members">
        <button type="button"
                class="absolute top-2 right-0 w-fit h-fit p-2 my-2 mx-2 rounded-xl  inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
            <i class="fa-solid fa-arrow-up-wide-short fa-2x text-white"></i>
        </button>
    </a>
    <!-- title -->
    <h2 class="font-serif text-black font-bold text-3xl text-center my-6 ">Review join request</h2>
    <!-- PART 1 -->
    <!-- list resource -->
    <div class="flex flex-col relative w-3/4 gap-y-6 mb-10">
        @foreach (var item in Model)
        {
            <div class="flex justify-between gap-x-6 py-2 px-4 shadow-md shadow-blue-500/30 rounded-xl items-center">
                <div class="flex justify-start items-center ">
                <div class="text-left text-semibold text-xl text-gray-900">1.</div>
                <div class=" flex items-center">
                    <img class="rounded-full w-10 h-10 mx-4 "
                         src="@item.User.UserAvatar"
                         alt="avatar">
                </div>
                <div class="flex flex-col ">
                        <a asp-action="Details" asp-controller="EditUser" asp-route-id="@item.User.UserID" class="text-black font-bold">@item.User.UserFullName</a>                
                </div>
            </div>
            <div class="flex justify-between gap-x-10 py-2">
                <a asp-action="DenyJoinRequest" asp-route-id="@item.UserID">
                <button type="button"
                        class="w-32 h-10 text-white  bg-red-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                    Deny
                </button>
                    </a>
                      <a asp-action="AcceptedJoinRequest" asp-route-id="@item.UserID">
                <button type="button"
                        class="w-32 h-10 text-white  bg-green-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                    Accepted
                </button>
                </a>
            </div>
        </div>
        }
    </div>

    <!-- pagination -->
    <div class="pagination mt-4 flex justify-center space-x-1.5">
        @if (ViewBag.currentPageJR > 1)
        {
        <a href="@Url.Action("Index", new { pageNumberJR = ViewBag.currentPageJR - 1, pageSizeJR = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Previous</button>
        </a>
        }

        @for (int i = 1; i <= ViewBag.totalPagesJR; i++)
        {
        <a href="@Url.Action("Index", new { pageNumberJR = i, pageSizeJR = 10 })"
           class="@(ViewBag.currentPageJR == i ? "btn-primary" : "")">
            <button class="btn bg-white text-black rounded-lg border-solid">@i</button>
        </a>
        }
        @if (ViewBag.currentPageJR < ViewBag.totalPagesJR)
        {
        <a href="@Url.Action("Index", new { pageNumberJR = ViewBag.currentPageJR + 1, pageSizeJR = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Next</button>
        </a>
        }
    </div>
</div>
<div class="flex relative justify-center gap-x-6 mb-6 w-3/4 mx-auto">
    <!-- add button -->
    <a asp-action="DenyJoinRequestAll" asp-controller="Project">
        <button type="button"
                class="w-36 h-14 text-white  bg-red-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-xl px-4 py-2">
            Deny all
        </button>
    </a>
    <a asp-action="AcceptedJoinRequestAll" asp-controller="Project">
        <button type="button"
                class="w-36 h-14 text-white  bg-green-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-xl px-4 py-2">
            Accepted all
        </button>
    </a>
</div>

<!-- end container -->