@model IEnumerable<OrganizationToProjectHistory>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor

<link rel="stylesheet" href="~/css/output.css">
<!-- Navbar -->
@{
    ViewData["Title"] = "Get All User Donate Request";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
    var currentProjectID = Accessor.HttpContext.Session.GetString("currentProjectID");
}

<!-- container -->
<div class="m-w-screen-2xl flex flex-col items-center justify-center relative">
    <!-- turn back button -->
    <a asp-action="ManageProjectDonor" asp-route-id="@currentProjectID" title="Turn back to donors detail">
        <button type="button"
                class="absolute top-2 right-0 w-fit h-fit p-2 my-2 mx-2 rounded-xl  inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
            <i class="fa-solid fa-arrow-up-wide-short fa-2x text-white"></i>
        </button>
    </a>
    <!-- title -->
    <div class="my-6">
        <h2 class="font-serif text-black font-bold text-3xl text-center ">Review donate request</h2>
        <span class="text-gray-400 text-md font-normal">Make sure you <span class="font-bold">contacted and received</span> the resources before marking as accepted!</span>
    </div> <!-- PART 1 -->
    <!-- list resource -->
    <div class="flex flex-col relative w-3/4 gap-y-6 mb-10">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            <div class="grid grid-cols-3 gap-x-6 py-2 px-4 shadow-md shadow-blue-500/30 rounded-xl items-center">
                <div class="flex justify-start items-center ">
                    <div class="text-left text-semibold text-xl text-gray-900">@(i + 1)</div>
                    <div class=" flex items-center">
                        <img class="rounded-full w-10 h-10 mx-4 "
                             src="@item.OrganizationResource.Organization.OrganizationPictures"
                             alt="avatar">
                    </div>
                    <div class="flex flex-col ">
                        <p class="text-black font-bold">@item.OrganizationResource.Organization.OrganizationName</p>
                        <p class="text-gray-400 font-normal text-base ">@item.Time</p>
                    </div>
                </div>
                <div class="flex justify-start items-center gap-x-4">
                    <div>
                        <p class=" flex items-center text-black font-semibold ">@item.ProjectResource?.ResourceName</p>
                    </div>
                    <div>
                        <p class=" flex items-center text-black font-semibold">@item.ProjectResource?.Unit</p>
                    </div>
                    <div>
                        <p class=" flex items-center text-black font-semibold">@item.Amount</p>
                    </div>
                </div>
                <div class="flex justify-between gap-x-10 py-2">
                    <a asp-action="DenyDonateRequest" asp-route-transactionID="@item.TransactionID" asp-route-donor="Organization">
                        <button type="button"
                                class="w-32 h-14 text-white  bg-red-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                            Deny/Not accepted
                        </button>
                    </a>
                    <a asp-action="AcceptedDonateRequest" asp-route-transactionID="@item.TransactionID" asp-route-donor="Organization">
                        <button type="button"
                                class="w-32 h-14 text-white  bg-green-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">
                            Accepted
                        </button>
                    </a>
                </div>
            </div>
        }

        <div class="h-36"></div>
    </div>

    <!-- pagination -->
    <div class="pagination mt-4 flex justify-center space-x-1.5">
        @if (ViewBag.currentPageOD > 1)
        {
        <a href="@Url.Action("Index", new { pageNumberOD = ViewBag.currentPageOD - 1, pageSizeOD = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Previous</button>
        </a>
        }

        @for (int i = 1; i <= ViewBag.totalPagesOD; i++)
        {
        <a href="@Url.Action("Index", new { pageNumberOD = i, pageSizeOD = 10 })"
           class="@(ViewBag.currentPageOD == i ? "btn-primary" : "")">
            <button class="btn bg-white text-black rounded-lg border-solid">@i</button>
        </a>
        }
        @if (ViewBag.currentPageOD < ViewBag.totalPagesOD)
        {
        <a href="@Url.Action("Index", new { pageNumberOD = ViewBag.currentPageOD + 1, pageSizeOD = 10 })">
            <button class="btn bg-white text-black rounded-lg border-solid">Next</button>
        </a>
        }
    </div>
</div>
<div class="flex relative justify-center gap-x-6 mb-6 w-3/4 mx-auto">
    <!-- add button -->
    <a asp-action="DenyDonateRequestAll" asp-controller="Project" asp-route-donor="Organization">
        <button type="button"
                class="w-36 h-20 text-white  bg-red-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-xl px-4 py-2">
            Deny/Not accepted all
        </button>
    </a>
    <a asp-action="AcceptedDonateRequestAll" asp-controller="Project" asp-route-donor="Organization">
        <button type="button"
                class="w-36 h-20 text-white  bg-green-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-xl px-4 py-2">
            Accepted all
        </button>
    </a>
</div>

<!-- end container -->
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var notification = '@TempData["Notification"]';
            var message = '@TempData["Message"]';

            if (notification === 'success') {
                toastr.success(message);
            } else if (notification === 'error') {
                toastr.error(message);
            }
        });
    </script>
}
