@model Dynamics.Models.Models.ViewModel.AllProjectsVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="flex justify-center text-3xl font-bold text-red-500 w-full bg-gray-100" style="margin-top: 100px;"> Discorver all active charities project</div>

<!-- container -->
<div class="flex flex-col mx-auto relative w-3/4  my-10">
    <!-- search bar -->
    <div class="flex relative justify-end mb-6 w-full">
        <div class="flex gap-x-6">
            <!-- choose filer/search & button review donate request -->
            <form class="max-w-md  flex items-center">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                <div class="relative ">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="search" id="default-search"
                           class="block w-full px-14 py-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500  "
                           placeholder="Search for something..." required />
                </div>
            </form>
            <!-- filter dropdown -->
            <div class="relative inline-block text-left py-2">
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                            id="menu-button" aria-expanded="false" aria-haspopup="true" onclick="toggleDropdown()">
                        Filter
                        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>

                <!-- Dropdown menu -->
                <div id="dropdown-menu" class="hidden absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
                    transition ease-out duration-100 transform opacity-0 scale-95" role="menu"
                     aria-orientation="vertical" aria-labelledby="menu-button">
                    <div class="py-1" role="none">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                           role="menuitem">Name</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                           role="menuitem">Date</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                           role="menuitem">Type resource</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- list project -->
    <div class="w-full flex justify-start gap-x-0 gap-y-4 flex-wrap">
        @foreach(var item in Model.allActiveProjects)
        {
            <div class=" card bg-base-100 w-96 shadow-xl mx-5 my-2">
                <div class="relative">
                    @if (item.Attachment != null)
                    {
                        item.Attachment = item.Attachment.TrimEnd(',', ' ').Split(",")[0];
                    }
                    <figure>
                        <a asp-action="ManageProject" asp-controller="Project" asp-route-id="@item.ProjectID">
                            <img src="@(item.Attachment ?? "https://localhost:7276/images/Organization/0.jpg")" alt="Ảnh dự án" class="w-96 h-64 object-cover">
                        </a>
                    </figure>
                    <div class="">
                        <div class="absolute top-2 left-8">
                            <p class="bg-green-500 text-white text-lg font-semibold px-2 py-0.5 rounded-full">Project</p>

                        </div>
                        <div class="absolute top-2 right-8">
                            @if (item.ProjectStatus == -1)
                            {
                                <p class="bg-gray-300 text-black text-lg font-semibold px-2 py-0.5 rounded-full">Inactive</p>
                            }
                            @if (item.ProjectStatus == 0)
                            {
                                <p class="bg-pink-300 text-white text-lg font-semibold px-2 py-0.5 rounded-full">Preparing</p>
                            }

                            @if (item.ProjectStatus == 1)
                            {
                                <p class="bg-red-500 text-white text-lg font-semibold px-2 py-0.5 rounded-full">On-going</p>
                            }

                            @if (item.ProjectStatus == 2)
                            {
                                <p class="bg-green-500 text-white text-lg font-semibold px-2 py-0.5 rounded-full">Completed</p>
                            }
                        </div>
                    </div>

                </div>
                <div class="p-3 card-body">
                    <a asp-action="ManageProject" asp-controller="Project" asp-route-id="@item.ProjectID">
                        <h1 class="card-title">@item.ProjectName</h1>
                    </a>
                    <div class="flex justify-between items-center text-xs  mb-2">
                        <h3 class="text-sm">By @item.Organization.OrganizationName</h3>
                        <h3 class="text-sm">@item.ProjectAddress</h3>
                    </div>
                    <p class=" text-base mb-3 line-clamp-3">
                        @item.ProjectDescription
                    </p>
                    <div class="flex items-center text-xs text-gray-500 mb-2">
                        <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"></path>
                        </svg>
                        <h2 class="text-sm font-semibold">@item.ProjectMembers volunteer</h2>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-3 dark:bg-gray-700 ">
                        <div class="bg-green-500 h-3 rounded-full" style="width: @(item.ProjectProgress >=100?100:item.ProjectProgress)%"></div>
                    </div>
                    <div class="text-green-500 font-semibold text-xl">
                        Raised  @item.ProjectRaisedMoney VND
                    </div>
                </div>
            </div>
        }
      
    </div>

</div>
