@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/original.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<section class="vh-100">
    <div class="container py-4 h-100" style="display: flex; justify-content: center; align-items: center">
        <div class="flex md:flex-row justify-center items-center content-center gap-4 h-full" style="display: flex; flex-direction: row">
            <div style="flex-direction: column; justify-content: center; display: flex">
                <h3 class="text-center">“We make a living by what we get. We make a life by what we give."</h3>
                <h4 class="text-center"><i>Winston Churchill</i></h4>
                <img src="~/images/loginImage.jpeg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 border-1 rounded-2 border-primary p-4 border-solid shadow-lg">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="mb-2 text-center"><b>Register</b></h2>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input asp-for="Input.Name" type="text" id="name" class="form-control form-control-lg" />
                        <label asp-for="Input.Name" class="form-label" for="email">Name</label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input asp-for="Input.Email" type="email" id="email" class="form-control form-control-lg"/>
                        <label asp-for="Input.Email" class="form-label" for="email">Email address</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input asp-for="Input.Password" type="password" id="passwrd" class="form-control form-control-lg"/>
                        <label asp-for="Input.Password" class="form-label" for="passwrd">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input asp-for="Input.ConfirmPassword" type="password" id="ConfirmPassword" class="form-control form-control-lg"/>
                        <label asp-for="Input.ConfirmPassword" class="form-label" for="ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary w-full"
                            style="width: 100%"
                            id="login">
                        Register
                    </button>

                    Already have an account ? <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                </form>
                
                    <div class="divider d-flex align-items-center justify-content-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    </div>

                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="login-with-google-btn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Login with @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>
@section Scripts {
<partial name="_ValidationScriptsPartial"/>
}



@* *@
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"> *@
@*             <h2>Create a new account.</h2> *@
@*             <hr /> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" /> *@
@*                 <label asp-for="Input.Email">Email</label> *@
@*                 <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" /> *@
@*                 <label asp-for="Input.Password">Password</label> *@
@*                 <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" /> *@
@*                 <label asp-for="Input.ConfirmPassword">Confirm Password</label> *@
@*                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> *@
@*             </div> *@
@*             <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button> *@
@*         </form> *@
@*     </div> *@
@*     <div class="col-md-6 col-md-offset-2"> *@
@*         <section> *@
@*             <h3>Use another service to register.</h3> *@
@*             <hr /> *@
@*             @{ *@
@*                 if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
@*                 { *@
@*                     <div> *@
@*                         <p> *@
@*                             There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article *@
@*                             about setting up this ASP.NET application to support logging in via external services</a>. *@
@*                         </p> *@
@*                     </div> *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
@*                         <div> *@
@*                             <p> *@
@*                                 @foreach (var provider in Model.ExternalLogins!) *@
@*                                 { *@
@*                                     <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
@*                                 } *@
@*                             </p> *@
@*                         </div> *@
@*                     </form> *@
@*                 } *@
@*             } *@
@*         </section> *@
@*     </div> *@
@* </div> *@
@* *@
@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@
