@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/output.css">
<link rel="stylesheet" href="~/css/original.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<section class="vh-100">
    <div class="container py-4 h-100" style="display: flex; justify-content: center; align-items: center">
        <div class="justify-center items-center content-center h-full" style="display: flex; flex-direction: row; gap: 89px; width: 100%">
            <div class="w-full hidden md:flex justify-content-center align-content-center gap-2 flex-col text-xl font-bold">
                <h3 class="text-center">“Happiness doesn’t result from what we get, but from what we give."</h3>
                <h4 class="text-center">
                    <i>Ben Carson</i>
                </h4>
                <img src="~/images/loginImage.jpeg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="rounded-2 bg-white p-4 border-solid shadow-lg w-full">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="mb-2 text-center"><b>Register</b></h2>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input asp-for="Input.Name" type="text" id="name" class="form-control form-control-lg" />
                        <label asp-for="Input.Name" class="form-label" for="email">Name</label>
                        <br>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input asp-for="Input.Email" type="email" id="email" class="form-control form-control-lg"/>
                        <label asp-for="Input.Email" class="form-label" for="email">Email address</label>
                        <br>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input asp-for="Input.Password" type="password" id="passwrd" class="form-control form-control-lg"/>
                        <label asp-for="Input.Password" class="form-label" for="passwrd">Password</label>
                        <br>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password input -->
                    <div data-mdb-input-init class="form-outline mb-2">
                        <input asp-for="Input.ConfirmPassword" type="password" id="ConfirmPassword" class="form-control form-control-lg"/>
                        <label asp-for="Input.ConfirmPassword" class="form-label" for="ConfirmPassword">Confirm Password</label>
                        <br>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary w-full loading-btn"
                            style="width: 100%"
                            id="login">
                        Register
                    </button>

                    Already have an account ? <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                </form>
                
                <div class="divider d-flex align-items-center justify-content-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                </div>

                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="login-with-google-btn" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Login with @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="js/loadingbtn.js"></script>
}
