@model Dynamics.Models.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAvatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAvatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isBanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isBanned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
