
@model Dynamics.Models.Models.Request


@{
    ViewData["Title"] = "Delete Request";
}

<div class="container my-5 p-5 pt-12 flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-2xl">
        <h1 class="text-2xl font-bold mb-6 text-center">Delete @Model.RequestTitle</h1>

        <form asp-action="Delete" asp-controller="Request" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input asp-for="@Model.RequestID" value="@Model.RequestID" class="hidden">
                <input type="date" asp-for="@Model.CreationDate" class="hidden" name="StartTime"/>
                <input asp-for="@Model.UserID" value="@Model.UserID" class="hidden">
                <input asp-for="@Model.Attachment" value="@Model.Attachment" class="hidden">
            </div>
            <div class="mb-4">
                <label asp-for="RequestTitle" class="block text-sm font-medium text-gray-700 mb-1">Enter request title:</label>
                <input asp-for="RequestTitle" name="RequestTitle" type="text" id="RequestTitle" placeholder="Enter name" disabled
                       class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
            </div>

            <div class="mb-4">
                <label asp-for="Content" class="block text-sm font-medium text-gray-700 mb-1">Enter request description</label>
                <textarea asp-for="Content" name="Content" id="Content" rows="5" placeholder="Enter your description" style="resize: none" disabled
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"></textarea>
            </div>

            <div class="mb-4">
                <label class="block text-gray-500 text-sm font-bold mb-2" for="Location">
                    Request Location
                </label>
                <input asp-for="@Model.Location"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-600 leading-tight focus:outline-none focus:shadow-outline"
                       id="Location" type="text" placeholder="Enter your request location" disabled/>
            </div>
            
            <div class="flex justify-center">
                <button type="submit" class="px-6 py-2 bg-red-700 text-white font-medium rounded-md hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    Delete!
                </button>
            </div>
        </form>
    </div>
</div>
