@using Dynamics.Utility
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@model Dynamics.Models.Models.UserToOrganizationTransactionHistory




@{
    ViewData["Title"] = "DonateByResource";
    Layout = "_LayoutOrganization";
}


@{
    //current usser
    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
    }

    var currentOrganizationResource = Accessor.HttpContext.Session.Get<OrganizationResource>(MySettingSession.SESSION_Organization_Resource_Current_Key);



}
<div class="py-5 pt-12 px-5 flex justify-center">
    <div class="border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">

        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
            <h1 class="text-2xl font-bold mb-6 text-center">Donate by resource</h1>

            <div class="mb-8">
                <h2 class="text-xl font-semibold mb-4">1. Register the form</h2>
                <form asp-action="DonateByResource" asp-controller="Organization" asp-route-resourceId="@Model.ResourceID" method="post">
                    <input asp-for="UserID" class="hidden" value="@currentUser.UserID">
                    <input asp-for="Status" value="0" class="hidden" >
                    <input asp-for="Unit" value="@currentOrganizationResource.Unit" class="hidden">
                    <input value="@DateOnly.FromDateTime(DateTime.UtcNow)" type="hidden" asp-for="@Model.Time">

                    <div class="mb-4">
                        <label asp-for="ResourceID" class="block text-sm font-medium text-gray-700 mb-1">Resource Name</label>
                        <input asp-for="ResourceID" class="hidden" value="@currentOrganizationResource.ResourceID">
                        <input type="text" id="quantity" placeholder="Enter your name" value="@currentOrganizationResource.ResourceName" readonly
                               class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>

                    <div class="mb-4">
                        <label asp-for="Amount" class="block text-sm font-medium text-gray-700 mb-1">Input the quantity</label>
                        <input asp-for="Amount" type="text" id="quantity" placeholder="Enter your name"
                               class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                    </div>
                    <div class="flex justify-center ">
                        <button type="submit"
                                class="bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                            Register
                        </button>
                    </div>
                    
                </form>
            </div>

            <div class="mb-8 mt-10">
                <h2 class="text-xl font-semibold mb-4">2. Contacts with the leader of the Organization to discuss further</h2>
                <ul class="space-y-2">
                    <li class="flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-600" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                        </svg>
                        abcxyz@gmail.com
                    </li>
                    <li class="flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-600" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                        </svg>
                        0779123812
                    </li>
                    <li class="flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-600" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                  clip-rule="evenodd" />
                        </svg>
                        Ngu Hanh Son Da nang
                    </li>
                </ul>
            </div>

            <a href="#" class="text-blue-600 hover:text-blue-800 flex items-center my-5">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                          d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
                          clip-rule="evenodd" />
                </svg>
                Go back
            </a>
        </div>
    </div>
</div>


