@using Dynamics.Utility
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@model Dynamics.Models.Models.ViewModel.OrganizationVM


@{
    ViewData["Title"] = "ManageOrganizationResource";
    Layout = "_LayoutOrganization";
}

@{
    //current usser
    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
    }

    var OrganizationToProjectHistorysPending = Accessor.HttpContext.Session.Get<List<OrganizationToProjectHistory>>(MySettingSession.SESSION_OrganizzationToProjectHistory_For_Organization_Pending_Key);
}

<div class="py-5 pt-12 px-5 flex justify-center">
    <div class="border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">

        <h1 class="text-3xl font-semibold mb-10 text-center ">
            @if (currentUser.UserID.Equals(Model.CEO.UserID))
            {
                <span class="border-b-2 border-gray-500 border-solid py-2">Manage and allocate resources for your projects</span>
            }
            else
            {
                <span class="border-b-2 border-gray-500 border-solid py-2">Organization Resources</span>
            }

        </h1>

        <div class=" flex justify-center mt-10 mb-10">

            @if (currentUser.UserID.Equals(Model.CEO.UserID))
            {
                <div class="max-w-3xl border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">

                    @if (currentUser.UserID.Equals(Model.CEO.UserID))
                    {
                        <h1 class="text-2xl mb-4 font-bold text-center">Current organization resources</h1>
                        <div class="flex justify-center mt-10">
                            <a asp-action="AddNewOrganizationResource" asp-controller="Organization">
                                <button class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition">
                                    Add new Resource
                                </button>
                            </a>
                        </div>
                    }
                    <div class=" px-5 py-3 w-auto">
                        <ul class="space-y-2">

                            @{ int i = 1; }
                            @foreach (var item in Model.OrganizationResource)
                            {
                                <li class="flex items-center justify-between gap-4 bg-white shadow-xl px-5 py-4 rounded-box ">
                                    <div class="flex items-center gap-2">
                                        <span class="text-gray-500 text-sm font-semibold">@i.</span>
                                        <span class="text-sm mx-5 font-semibold">@item.ResourceName</span>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <span class="text-sm mx-5 font-semibold">@item.Quantity</span>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <span class="text-sm mx-5 font-semibold ">@item.Unit</span>
                                    </div>

                                    @if (currentUser.UserID.Equals(Model.CEO.UserID))
                                    {
                                        @if (item.ResourceName.ToUpper().Contains("Money".ToUpper()))
                                        {
                                            if (item.Quantity <= 0)
                                            {
                                                <div class="tooltip" data-tip="Not enough resource to send">
                                                    <button class="btn btn-neutral btn-sm btn-disabled">Send</button>
                                                </div>
                                            }
                                            else
                                            {
                                                <form asp-action="AllocateMoney" asp-controller="Organization">
                                                    <input type="hidden" name="organizationId" value="@item.OrganizationID"/>
                                                    <input type="hidden" name="resourceId" value="@item.ResourceID"/>
                                                    <button type="submit" class="flex items-center gap-2 ">
                                                        <span class="btn btn-success btn-sm">Send</span>
                                                    </button>
                                                </form>
                                            }

                                            continue;
                                        }

                                        if (item.Quantity == 0)
                                        {
                                            <a asp-action="RemoveOrganizationResource" asp-controller="Organization" asp-route-resourceId="@item.ResourceID">
                                                <div class="flex items-center gap-2 ">
                                                    <span class="btn btn-error btn-sm">Remove</span>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <div class="tooltip" data-tip="You cannot remove resource when it is not empty!">
                                                <button class="btn btn-error btn-sm btn-disabled">Remove</button>
                                            </div>
                                        }


                                        @if (item.Quantity > 0)
                                        {
                                            <a asp-action="SendResourceOrganizationToProject" asp-controller="Organization" asp-route-resourceId="@item.ResourceID">
                                                <div class="flex items-center gap-2 ">
                                                    <span class="btn btn-primary btn-sm">Send</span>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            <div class="tooltip" data-tip="Not enough resource to send">
                                                <button class="btn btn-neutral btn-sm btn-disabled">Send</button>
                                            </div>
                                        }
                                    }

                                </li>

                                i++;
                            }


                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div>

                    <div class=" px-5 py-3 w-auto">

                        <div class="my-5 ">
                            <div class="flex gap-x-6">
                                <div>
                                    <a asp-action="ExportExcel" asp-controller="ExcelExport">
                                        <button type="submit" class="btn btn-primary">Export Excel</button>
                                    </a>
                                </div>

                                <div>
                                    <form asp-action="Upload" asp-controller="ExcelReader" enctype="multipart/form-data">
                                        <div class="flex gap-x-6">
                                            <label class="form-control">
                                                <input id="file-upload" type="file" name="file" class="file-input file-input-bordered w-full max-w-xs">
                                            </label>

                                            <button type="submit"
                                                    class=" text-md text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg w-full sm:w-auto px-6 py-2.5 text-center">
                                                Confirm
                                            </button>
                                        </div>
                                    </form>

                                </div>


                            </div>
                            <span class="label label-text text-">If you donate multiple resources at once, download the execl and enter it into the web.</span>
                            @if (ViewBag.Error != null)
                            {
                                <div class="text-danger">@ViewBag.Error</div>
                            }

                        </div>

                        <ul class="space-y-2">
                            @{ int i = 1; }
                            @foreach (var item in Model.OrganizationResource)
                            {
                                <li class="flex items-center justify-between bg-base-100 shadow-xl px-5 py-4 rounded-box ">
                                    <div class="flex items-center gap-2">
                                        <span class="text-gray-500 text-sm font-semibold">@i.</span>
                                        <span class="text-sm mx-5 font-semibold">@item.ResourceName</span>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <span class="text-sm mx-5 font-semibold">@item.Quantity</span>
                                    </div>
                                    <div class="flex items-center gap-2">
                                        <span class="text-sm mx-5 font-semibold ">@item.Unit</span>
                                    </div>

                                    @if (item.ResourceName.ToUpper().Contains("Money".ToUpper()))
                                    {
                                        <form asp-action="DonateByMoney" asp-controller="Organization">
                                            <input type="hidden" name="organizationId" value="@item.OrganizationID"/>
                                            <input type="hidden" name="resourceId" value="@item.ResourceID"/>
                                            <button type="submit" class="flex items-center gap-2 ">
                                                <span class="bg-green-500 text-white font-bold px-3 py-2 ml-5 rounded text-xs">Donate Here</span>
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <a asp-action="DonateByResource" asp-controller="Organization" asp-route-resourceId="@item.ResourceID">
                                            <div class="flex items-center gap-2 ">
                                                <span class="bg-green-500 text-white font-bold px-3 py-2 ml-5 rounded text-xs">Donate Here</span>
                                            </div>
                                        </a>
                                    }
                                </li>
                                i++;
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>


        <div>
            @if (currentUser.UserID.Equals(Model.CEO.UserID))
            {
                <div class=" flex justify-center mt-10 mb-10">
                    <div class="max-w-3xl border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">

                        <h1 class="text-2xl font-bold mb-2 text-center">Project resource allocations</h1>
                        <p class="text-gray-600 mb-4 text-center">Send your organization resources to your projects</p>
                        <div class=" px-5 py-3 w-auto">
                            <ul class="space-y-4">
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in OrganizationToProjectHistorysPending)
                                {
                                    <div class="w-full border rounded-lg  p-4 bg-white shadow-xl rounded-box ">
                                        <div class="flex items-center justify-between mb-4">
                                            <div class="flex items-center space-x-3 mr-5">
                                                <span class="font-semibold">1.</span>
                                                <div class="mx-5">
                                                    <h2 class="font-semibold">@item.OrganizationResource.ResourceName</h2>
                                                    <p class="text-sm text-gray-500">@item.Time</p>
                                                </div>
                                            </div>
                                            <div class="space-x-3 mx-5">
                                                @if (item.Status == 0)
                                                {
                                                    <button class="bg-blue-500 text-white px-3 py-1 rounded">
                                                        Processing
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 transition">
                                                        Accepted
                                                    </button>
                                                }

                                                <a asp-action="CancelSendResource" asp-controller="Organization" asp-route-transactionId="@item.TransactionID">
                                                    <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 transition">
                                                        Cancel
                                                    </button>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="flex items-center space-x-4 gap-6">
                                            <span class="font-semibold">@item.OrganizationResource.ResourceName</span>
                                            <span>@item.Amount</span>
                                            <span>@item.OrganizationResource.Unit</span>
                                            <span class="text-gray-600">To:@item.ProjectResource.Project.ProjectName</span>
                                        </div>
                                    </div>
                                    i++;
                                }
                            </ul>
                        </div>
                    </div>


                </div>
            }

        </div>


    </div>
</div>