@model IEnumerable<Dynamics.Models.Models.Project>
@using Dynamics.Utility
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor


@{
    ViewData["Title"] = "ManageOrganizationProject";
    Layout = "_LayoutOrganization";
}



@{
    //current usser
    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
    }

    //current Organization
    var organizationString = Accessor.HttpContext.Session.GetString("organization");
    Organization currentOrganization = null;
    if (organizationString != null)
    {
        currentOrganization = JsonConvert.DeserializeObject<Organization>(organizationString);
    }

    //Members in a organization with orrganizationId
    var userMembersInOrganization = Accessor.HttpContext.Session.Get<List<User>>(MySettingSession.SESSION_User_In_A_OrganizationID_KEY);

    //find Ceo Oragnization
    User userCeoOrganization = new User();
    foreach (var item in userMembersInOrganization)
    {
        if (item.UserID.Equals(currentOrganization.CEOID))
        {
            userCeoOrganization = item;
            break;
        }
    }
}


<div class="py-5 pt-12 px-5 flex justify-center">
    <div class="border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">
        <h1 class="text-3xl font-semibold mb-4 text-center ">
            <span class="border-b-2 border-gray-500 border-solid py-2">Organization Projects</span>
        </h1>

        <div class="grid grid-cols-3 gap-6 py-5 flex justify-center">
            @if (@currentUser.UserID.Equals(@userCeoOrganization.UserID))
            {
                
                 <div class="card mx-5 my-2 w-96 ">
                    <a asp-action="CreateProject" asp-controller="Project">
                        <div class="w-full h-full p-12 bg-gray-200 rounded-lg shadow-lg cursor-pointer hover:shadow-lg transition duration-300">
                            <p class="text-gray-700 text-3xl text-center font-medium pt-12 mb-10">New Project</p>
                            <div class="relative mr-2 pb-12">
                                <button class="border text-white rounded-full  flex items-center justify-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-64 w-64" fill="none" viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="p-12"></div>
                        </div>
                        
                    </a>
                </div>
                
            }
            
            @foreach(var item in Model)
            {
                <div class=" card bg-base-100 w-96 shadow-xl mx-5 my-2">
                    <div class="relative">
                        <figure>
                            <img src="@(item.Attachment ?? "https://localhost:7276/images/Organization/0.jpg")" alt="Ảnh dự án" class="w-96 h-64 object-cover">
                        </figure>
                        <div class="">
                            <div class="absolute top-2 left-8">
                                <p class="bg-green-500 text-white text-lg font-semibold px-2 py-0.5 rounded-full">Project</p>

                            </div>
                            <div class="absolute top-2 right-8">
                                @if (item.ProjectStatus == 1)
                                {
                                    <p class="bg-pink-300 text-white text-lg font-semibold px-2 py-0.5 rounded-full">Preparing</p>
                                }
                                
                                @if(item.ProjectStatus == 2)
                                {
                                    <p class="bg-red-500 text-white text-lg font-semibold px-2 py-0.5 rounded-full">On-going</p>
                                }
                            </div>
                        </div>
                        
                    </div>
                    <div class="p-3 card-body">
                        <h1 class="card-title">@item.ProjectName</h1>
                        <div class="flex justify-between items-center text-xs  mb-2">
                            <h3 class="text-sm">By @currentOrganization.OrganizationName</h3>
                            <h3 class="text-sm">Hà Nội</h3>
                        </div>
                        <p class=" text-base mb-3">
                            @item.ProjectDescription
                        </p>
                        <div class="flex items-center text-xs text-gray-500 mb-2">
                            <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"></path>
                            </svg>
                            <h2 class="text-sm font-semibold">123 volunteer</h2>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full h-1.5 mb-1">
                            <div class="bg-green-500 h-1.5 rounded-full" style="width: 80%"></div>
                        </div>
                        <div class="text-green-500 font-semibold text-xl">
                            Raised 999,999,999 VND
                        </div>
                    </div>
                </div>

            }



            
        </div>
    </div>
</div>
    
