@using Dynamics.Utility
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@model IEnumerable<Dynamics.Models.Models.UserToOrganizationTransactionHistory>


@{
    ViewData["Title"] = "ManageOrganizationTranactionHistory";
    Layout = "_LayoutOrganizationForm";
}

@{
    var OrganizationToProjectHistorysPending = Accessor.HttpContext.Session.Get<List<OrganizationToProjectHistory>>(MySettingSession.SESSION_OrganizzationToProjectHistory_For_Organization_Pending_Key);
    var OrganizationToProjectHistorysAccepting = Accessor.HttpContext.Session.Get<List<OrganizationToProjectHistory>>(MySettingSession.SESSION_OrganizzationToProjectHistory_For_Organization_Accepting_Key);
}

<div class="py-5 pt-12 px-5 flex justify-center">
    <div class="border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">
        <h1 class="text-3xl font-semibold mb-4 text-center ">
            <span class="border-b-2 border-gray-500 border-solid py-2">Organization Transaction History</span>
        </h1>

        <!-- filter dropdown -->
        <div class="text-end">
            <div class="relative inline-block text-left py-2 text-2xl">
                <div>
                    <button type="button"
                            class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                            id="menu-button" aria-expanded="false" aria-haspopup="true" onclick="toggleDropdown()">
                        Filter
                        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <!-- Dropdown menu -->
                <div id="dropdown-menu"
                     class="hidden absolute right-0 z-10 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
                        transition ease-out duration-100 transform opacity-0 scale-95"
                     role="menu" aria-orientation="vertical" aria-labelledby="menu-button">
                    <div class="py-1" role="none">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Name</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Date</a>
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Type resource</a>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="py-5">
            <div class="max-w-2xl mx-auto space-y-4">
               
                @foreach (var item in OrganizationToProjectHistorysPending)
                {
                    <!-- Negative Manual Transaction -->
                    <div class="bg-white rounded-lg shadow-lg p-6">
                        <div class="flex items-start justify-between mb-2">
                            <div class="flex items-center">
                                <img src="@item.ProjectResource.Project.Attachment" alt="User avatar"
                                     class="w-12 h-12 rounded-full mr-4 border-2 border-gray-200">
                                <div>
                                    <h2 class="text-lg font-semibold">@item.ProjectResource.Project.ProjectName</h2>
                                    <p class="text-sm text-gray-500">Donated on @item.Time</p>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-lg font-bold text-red-500">- @item.Amount @item.ProjectResource.ResourceName @item.OrganizationResource.Unit</p>
                                <span class="bg-orange-100 text-orange-800 text-xs font-medium px-3 py-1 rounded-full">Processing</span>
                            </div>
                        </div>
                        <p class="text-gray-700 mt-2">Spent @item.ProjectResource.ResourceName to project @item.ProjectResource.Project.ProjectName</p>
                    </div>
                }
                @foreach (var item in OrganizationToProjectHistorysAccepting)
                {
                    <!-- Negative Manual Transaction -->
                    <div class="bg-white rounded-lg shadow-lg p-6">
                        <div class="flex items-start justify-between mb-2">
                            <div class="flex items-center">
                                <img src="@item.ProjectResource.Project.Attachment" alt="User avatar"
                                     class="w-12 h-12 rounded-full mr-4 border-2 border-gray-200">
                                <div>
                                    <h2 class="text-lg font-semibold">@item.ProjectResource.Project.ProjectName</h2>
                                    <p class="text-sm text-gray-500">Donated on @item.Time</p>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-lg font-bold text-red-500">- @item.Amount @item.ProjectResource.ResourceName @item.OrganizationResource.Unit</p>
                                <span class="bg-red-500 text-white text-xs font-medium px-3 py-1 rounded-full">Is Accepted</span>
                            </div>
                        </div>
                        <p class="text-gray-700 mt-2">Spent @item.ProjectResource.ResourceName to project @item.ProjectResource.Project.ProjectName</p>
                    </div>
                }

                @foreach(var item in Model)
                {
                    <!-- Positive Automatic Transaction -->
                    <div class="bg-white rounded-lg shadow-lg p-6">
                        <div class="flex items-start justify-between mb-2">
                            <div class="flex items-center">
                                <img src="@(item.User.UserAvatar)" alt="User avatar"
                                     class="w-12 h-12 rounded-full mr-4 border-2 border-gray-200">
                                <div>
                                    <h2 class="text-lg font-semibold">@(item.User.UserFullName)</h2>
                                    <p class="text-sm text-gray-500">@item.Time</p>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-lg font-bold text-green-500">+ @item.Amount @item.OrganizationResource.Unit @(item.OrganizationResource.ResourceName)</p>
                                <span class="bg-green-100 text-green-800 text-xs font-medium px-3 py-1 rounded-full">Automatic</span>
                            </div>
                        </div>
                        <p class="text-gray-700 mt-2">@item.Message</p>
                    </div>
                }
               
            </div>

        </div>


    </div>
</div>

<script>
    function toggleDropdown() {
        var dropdownMenu = document.getElementById("dropdown-menu");
        dropdownMenu.classList.toggle("hidden");
        dropdownMenu.classList.toggle("transform");
        dropdownMenu.classList.toggle("opacity-100");
        dropdownMenu.classList.toggle("scale-100");
    }
</script>