@model Dynamics.Models.Models.Organization

@{
    ViewData["Title"] = "MyOrganizationCeo";
}

<div class="container my-5 p-5 pt-12">

    <div class="my-5 flex justify-center">
        <h1 class="text-center text-3xl">Organization that You are being the CEO: </h1>
    </div>

    <div class="flex justify-center">
        <div class="card bg-base-100 w-96 shadow-xl ">
            <figure>
                <a asp-action="Detail" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                    <img src="@(Model.OrganizationPictures ?? "https://via.placeholder.com/300x200")"
                     alt="@Model.OrganizationName" />
                </a>
            </figure>
            <div class="card-body">
                <a asp-action="Detail" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                    <h2 class="card-title">@Model.OrganizationName</h2>
                </a>
                <h4>Start date: @Model.StartTime</h4>
                <p>@Model.OrganizationDescription</p>
                <div class="card-actions justify-center my-5">
                    
                    <button class="btn btn-primary">join into organization Now</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>

