@using Dynamics.Utility
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@model IEnumerable<Dynamics.Models.Models.UserToOrganizationTransactionHistory>




@{
    ViewData["Title"] = "ReviewDonateRequest";
    Layout = "_LayoutOrganizationForm";
 }


<div class="py-5 pt-12 px-5 flex justify-center">
    <div class="border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">

        <h1 class="text-3xl font-semibold mb-10 text-center ">
            Review user donation request
        </h1>

        <div class=" flex justify-center mt-10 mb-10">
             <div class=" px-5 py-3 w-auto">
                    <ul class="space-y-4">

                        @{int i = 0;}
                        @foreach (var item in Model)
                        {
                            <div class="w-full border rounded-lg  p-4 bg-white shadow-xl rounded-box ">
                                <div class="flex items-center justify-between mb-4">
                                    <div class="flex items-center space-x-3 mr-5">
                                        <span class="font-semibold">@(i+1).</span>
                                    <img src="@item.User.UserAvatar" alt="User avatar" class="w-10 h-10 rounded-full">
                                        <div class="mx-5">
                                            <h2 class="font-semibold">@(item.User.UserFullName)</h2>
                                            <p class="text-sm text-gray-500">@item.Time</p>
                                        </div>
                                    </div>
                                    <div class="space-x-3 mx-5">
                                        <a asp-action="DenyRequestDonate" asp-controller="Organization" asp-route-transactionId="@item.TransactionID">
                                            <button class="px-4 py-2 text-white bg-red-500 rounded-md hover:bg-red-600">Deny</button>
                                        </a>

                                    <a asp-action="AcceptRquestDonate" asp-controller="Organization" asp-route-transactionId="@item.TransactionID">
                                        <button class="px-4 py-2 text-white bg-green-500 rounded-md hover:bg-green-600">Accept</button>
                                    </a>
                                        
                                    </div>
                                </div>
                                <div class="flex items-center space-x-4 gap-6">
                                <span class="font-semibold">@(item.OrganizationResource.ResourceName)</span>
                                    <span>@item.Unit</span>
                                    <span>@item.Amount</span>
                                    <span class="text-gray-600">send To this Organization: @item.OrganizationResource.Organization.OrganizationName</span>
                                </div>
                            </div>
                            i++;
                    }
                    </ul>
                </div>
        </div>
    </div>
</div>
