@model Dynamics.Models.Models.ViewModel.OrganizationVM

@{
    ViewData["Title"] = "ManageRequestJoinOrganization";
    Layout = "_LayoutOrganization";
}


<div class="py-5 pt-12 px-5 flex justify-center">
    <div class="border border-solid border-gray-500 rounded-box px-5 py-5 w-auto">
        <h1 class="text-3xl font-semibold mb-4 text-center ">
            <span class="border-b-2 border-gray-500 border-solid py-2">Review join request</span>
        </h1>

        <div class="flex justify-center ">
            <ul class="space-y-2">

                @{int i = 0;}
                @foreach (var item in @Model.OrganizationMember)
                {
                    @if(item.Status > 0)
                    {
                        continue;
                    }
                    <li class="flex items-center justify-between bg-white shadow-xl px-5 py-1 rounded-box ">
                        <div class="flex items-center gap-2">
                            <span class="text-gray-500 text-sm font-semibold">@(i + 1).</span>
                            <a asp-action="Details" asp-controller="EditUser" asp-route-id="@item.User.UserID">
                                <img src="@(item.User.UserAvatar ?? "https://via.placeholder.com/32")" alt="UserFullName" class=" w-16 h-16 mr-5 rounded-full">
                            </a>
                            <a asp-action="Details" asp-controller="EditUser" asp-route-id="@item.User.UserID">
                                <span class="text-sm mx-5 font-semibold">@item.User.UserFullName</span>
                            </a>     
                        </div>

                        <div class="flex space-x-3 mx-5">
                           <div>
                                <form asp-action="OutOrganization" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                                    <input value="@item.UserID" name="userId" type="hidden">
                                    <button class="px-4 py-2 text-white bg-red-500 rounded-md hover:bg-red-600" type="submit">Deny</button>
                                </form>
                           </div>
                            

                           <div>
                                <form asp-action="AcceptRquestJoin" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                                    <input value="@item.UserID" name="userId" type="hidden">
                                    <button class="px-4 py-2 text-white bg-green-500 rounded-md hover:bg-green-600" type="submit">Accept</button>
                                </form>
                           </div>
                            
                            
                        </div>

                    </li>
                    i++;
                }
                <!-- Repeat the above <li> element 7 more times for the remaining members, removing the Leader span -->
            </ul>
        </div>
    </div>


</div>

