@model Dynamics.Models.Models.User


@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/original.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class="col-sm-2">
            Password
        </dt>
        <dd class="col-sm-10">
            Password
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.roleID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.roleID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.avatar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.avatar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.userID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
