@model IEnumerable<Dynamics.Models.Models.User>

@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1> *@
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress)
            </th>
            <th>
                Password
            </th>
            <th>
                Handle get the user roles
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAvatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAddress)
                </td>
                <td>
                    Forbidden
                </td>
                <td>
                    Handle user role id here
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAvatar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

 @* indexx of usercontroller of client area *@