@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dynamics.Models.Models.Dto.OrganizationOverviewDto
<li class="card w-full max-w-[300px] min-h-[432px] shadow-xl mr-4 relative splide__slide elevate rounded-md">
    <a asp-action="Detail" asp-controller="Organization"
       asp-route-organizationId="@Model.OrganizationID">
        <img class="w-full object-cover h-48 rounded-md"
             src="@Model.OrganizationPictures"
             alt="@Model.OrganizationName"/>
    </a>
    <div class="card-body p-2 gap-2 w-full">
        <!-- badge left -->
        <div
            class="badge badge-secondary absolute top-2 left-2 bg-primary font-bold text-white px-4 py-3 outline-none border-none">
            Organization
        </div>
        <div class="flex flex-col">
            <a class="card-title text-primary font-bold mb-2 line-clamp-2"
               asp-action="Detail" asp-controller="Organization"
               asp-route-organizationId="@Model.OrganizationID">
                @Model.OrganizationName
            </a>
            <div class="flex justify-between">
                <a class="text-neutral hover:text-primary flex-1 line-clamp-2 text-start" asp-action="Index"
                   asp-controller="User"
                   asp-route-username="@Model.OrganizationLeader.UserFullName">
                    @Model.OrganizationLeader.UserFullName
                </a>
                <span class="flex-1 text-end line-clamp-2">@Model.OrganizationAddress</span>
            </div>
        </div>
        <p class="line-clamp-3 mb-4">
            @Model.OrganizationDescription
        </p>
        <div class="card-actions justify-center flex-col items-center">
            <div class="flex w-full flex-start items-center gap-2 text-base-content">
                <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"></path>
                </svg>
                <span>@Model.OrganizationMemberCount members</span>
            </div>
            <form asp-action="sendRequestJoinOrganization" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                <button class="btn btn-neutral h-8 min-h-0 outline-none border-none" type="submit">Join into organization Now</button>
            </form>
        </div>
    </div>
</li>
<!-- End card -->