@model ProjectOverviewDto
<li class="card w-full max-w-[300px] max-w-64 min-h-[432px] shadow-xl mr-4 relative splide__slide elevate rounded-md">
    <a asp-action="ManageProject" asp-route-id="@Model.ProjectID" asp-controller="Project">
        <img class="w-full object-cover h-48 rounded-md"
             src="@Model.Attachment"
             alt="Shoes"/>
    </a>
    <div class="card-body p-2 gap-2 w-full">
        <!-- badge left -->
        <div
            class="badge badge-success absolute top-2 left-2 bg-success font-bold px-4 py-3 outline-none border-none">
            Project
        </div>
        <!-- badge right -->
        <div
            class="badge badge-secondary absolute top-2 right-2 bg-success font-bold px-4 py-3 outline-none border-none">
            Project
        </div>
        @if (Model.ProjectStatus == 1)
        {
            <div
                class="badge badge-error absolute top-2 right-2 bg-error font-bold text-white px-4 py-3 outline-none border-none">
                On-going
            </div>
        }
        else if (Model.ProjectStatus == 0)
        {
            <div
                class="badge badge-accent absolute top-2 right-2 font-bold px-4 py-3 outline-none border-none">
                Preparing
            </div>
        }

        <div class="flex flex-col">
            <a class="card-title text-primary font-bold mb-2 line-clamp-2"
               asp-action="ManageProject" asp-route-id="@Model.ProjectID"
               asp-controller="Project">
                @Model.ProjectName
            </a>
            <div class="flex justify-between gap-4">
                <a class="text-neutral hover:text-primary flex-1 line-clamp-2 text-start" asp-action="Index"
                   asp-controller="User"
                   asp-route-username="@Model.ProjectLeader.UserFullName">
                    @Model.ProjectLeader.UserFullName
                </a>
                <span class="flex-1 text-end line-clamp-2">
                    @Model.ProjectAddress
                </span>
            </div>
        </div>
        <p class="line-clamp-3 mb-4">
            @Model.ProjectDescription
        </p>
        <div class="card-actions justify-center flex-col items-center">
            <div class="flex w-full flex-start items-center gap-2 text-base">
                <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"></path>
                </svg>
                <span>@Model.ProjectMembers volunteers</span>
            </div>
            <progress class="progress progress-success w-full"
                      value="@Model.ProjectProgress"
                      max="100">
            </progress>
            <p class="w-full text-success">Raised @Model.ProjectRaisedMoney VND</p>
            <a class="btn btn-neutral h-8 min-h-0 outline-none border-none"
               asp-action="ManageProject" asp-route-id="@Model.ProjectID"
               asp-controller="Project">
                View project
            </a>
        </div>
    </div>
</li>
<!-- End card -->