@model RequestOverviewDto

<li class="card w-full max-w-[300px] min-h-[432px] shadow-xl mr-4 relative splide__slide elevate rounded-md">
                                <a asp-action="Detail" asp-controller="Request" asp-route-id="@Model.RequestID">
                                    <img class="w-full object-cover h-48 rounded-md"
                                         src="@Model.FirstImageAttachment"
                                         alt="Shoes"/>
                                </a>
                                <div class="card-body p-2 gap-2 w-full">
                                    <!-- Badge left -->
                                    <div
                                        class="badge badge-secondary outline-none border-none absolute top-2 left-2 bg-error font-bold text-white px-4 py-3">
                                        Request
                                    </div>
                                    <div class="flex flex-col">
                                        <a class="card-title text-primary font-bold mb-2 line-clamp-2 flex flex-col justify-center" asp-action="Index"
                                           asp-controller="Request" asp-route-id="@Model.RequestID">
                                                @Model.RequestTitle
                                        </a>
                                        <div class="flex justify-between items-start gap-4">
                                            <a class="text-neutral hover:text-primary flex-1 line-clamp-2" asp-action="Index"
                                               asp-controller="User" asp-route-username="@Model.Username">
                                                @Model.Username
                                            </a>
                                            <span class="flex-1 text-end line-clamp-2">@Model.Location</span>
                                        </div>
                                    </div>
                                    <p class="text-base line-clamp-3 mb-4">
                                        @Model.Content
                                    </p>
                                    <div class="card-actions justify-center flex-col items-center">
                                        <a asp-action="Index" asp-controller="Request" asp-route-id="@Model.RequestID"
                                           class="btn btn-neutral h-8 min-h-0 outline-none border-none ">
                                            Accept
                                        </a>
                                    </div>
                                </div>
                            </li>