@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@model ChangePasswordDto

@{
    ViewData["Title"] = "Account";
    Layout = "CustomLayout/_LayoutWithNavbarOnly";
}

@{
    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
    }
}

<!-- Edit profile -->
<main class="flex md:p-6 pb-0 flex-1 h-screen">
    @*     <!-- Sidebar -->
    <div class="p-2 pt-12 w-1/5">
    <ul class="flex flex-col gap-2">
    <a asp-action="Edit" asp-controller="User" asp-route-id="@currentUser.UserID" class="btn btn-ghost text-start"> Change profile </a>
    <a asp-action="Account" class="btn btn-ghost text-start btn-active"> Account </a>
    <a href="settings/history" class="btn btn-ghost text-start"> History </a>
    <a href="settings/awards" class="btn btn-ghost text-start"> Awards </a>
    </ul>
    </div>
    <!-- End sidebar --> *@
    @Html.Partial("CustomComponent/_UserSidebar", "Account")

    <!-- Main content -->
    <div class="divider divider-horizontal"></div>
    @{
        if (TempData["google"] != null)
        {
            <div class="flex flex-col gap-2 justify-start items-center w-full">
                <h2 class="mb-4 text-center text-3xl">
                    <b>Change password</b>
                </h2>
                <h2 class="mb-4 text-center text-3xl font-bold text-success">@TempData["google"]</h2>
            </div>
        }
        else
        {
            <form asp-action="ChangePassword" asp-controller="User" method="post"
                  class="flex flex-col gap-4 justify-start items-center w-full p-16 bg-white">
                <h2 class="mb-4 text-center text-3xl">
                    <b>Change password</b>
                </h2>
                <div asp-validation-summary="ModelOnly" class="text-error" role="alert"></div>
                @if (currentUser.UserID != null)
                {
                    <input type="hidden" asp-for="@Model.UserId" value="@currentUser.UserID"/>
                }

                @* Old password *@
                <label class="form-control w-full">
                    <span class="label label-text font-bold text-lg">Old password</span>
                    <input type="password"
                           placeholder="Please enter your old password"
                           class="input input-bordered w-full bg-white input-info"
                           asp-for="@Model.OldPassword"
                           name="OldPassword"/>
                    <span asp-validation-for="OldPassword" class="text-error"></span>
                </label>
                @* New password *@
                <label class="form-control w-full">
                    <span class="label label-text font-bold text-lg">New password</span>
                    <input type="password"
                           placeholder="Please enter your new password"
                           class="input input-bordered w-full bg-white input-info"
                           asp-for="@Model.NewPassword"
                           name="NewPassword"/>
                    <span asp-validation-for="NewPassword" class="text-error"></span>
                </label>

                @* Confirm password *@
                <label class="form-control w-full">
                    <span class="label label-text font-bold text-lg">Confirm new password</span>
                    <input type="password"
                           placeholder="Please enter your confirm new password"
                           class="input input-bordered w-full bg-white input-info"
                           asp-for="@Model.ConfirmPassword"/>
                    <span asp-validation-for="ConfirmPassword" class="text-error"></span>
                </label>
                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-primary"
                        id="login">
                    Save change
                </button>
            </form>
        }
    }
    <!-- End content -->
</main>
<!-- End edit profile -->
