@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model Dynamics.Models.Models.ViewModel.UserHistoryViewModel
@{
    Layout = "CustomLayout/_LayoutWithNavbarOnly";
    ViewData["Title"] = "Activity history";
}

<main class="flex md:p-6 pb-0 flex-1 min-h-screen">
    @* Left *@
    @Html.Partial("CustomComponent/_UserSidebar", "History")
    <div class="divider divider-horizontal"></div>
    @* Right *@
    <div class="w-full flex flex-col gap-6 items-center p-16 bg-white rounded-md shadow-md">
        <div class="w-full flex justify-center gap-4">
            <div role="tablist" class="tabs tabs-bordered">
                <a asp-action="History" asp-controller="User" class="tab tab-active">Transaction history</a>
                <a asp-action="RequestsStatus" asp-controller="User" class="tab">Requests status</a>
            </div>
        </div>

        <h1 class="text-3xl font-bold">Succeeded donations</h1>

        <!-- Right search bar -->
        <div class="flex w-full justify-end items-center gap-2 mb-4">
            @* Search bar *@
            <div class="join">
                <div>
                    <div>
                        <div class="input input-bordered flex items-center gap-2 rounded-r-none">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 16 16"
                                 fill="currentColor"
                                 class="h-4 w-4 opacity-70">
                                <path fill-rule="evenodd"
                                      d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <input type="text" class="grow" placeholder="Search something..."/>
                        </div>
                    </div>
                </div>
                <!-- TODO: Implement filter dropdown -->
                <select class="select select-bordered join-item">
                    <option disabled selected>Filter</option>
                    <option>Sci-fi</option>
                    <option>Drama</option>
                    <option>Action</option>
                </select>
            </div>
        </div>
        <!-- End right search bar -->
        <!-- List of activity -->
        <ul class="flex flex-col gap-2 w-full">
            <!-- An activity -->
            @{
                if (Model.userTransactions.IsNullOrEmpty())
                {
                    <h3 class="font-bold text-center text-2xl">You haven't donated anything yet! Go out there and do some charity</h3>
                }
                else
                {
                    foreach (var transaction in Model.userTransactions)
                    {
                        <li class="p-4 shadow-md flex justify-between rounded-md">
                            <!-- Left side -->
                            <div class="flex flex-col gap-2">
                                <!-- User profile + time -->
                                <div class="flex gap-2">
                                    <div class="avatar">
                                        <div class="w-12 rounded-full">
                                            <img src="@transaction.User.UserAvatar"/>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="font-bold">@transaction.User.UserFullName</p>
                                        <p class="text-neutral">@Html.DisplayFor(m => transaction.Time)</p>
                                    </div>
                                </div>
                                <!-- Desc -->
                                <div class="text-info">
                                    @(transaction.Message ?? "No message")
                                </div>
                                <!-- Donate to what -->
                                <div>
                                    Donated to: @transaction.Target
                                </div>
                            </div>

                            <!-- Right side -->
                            <div class="flex flex-col items-end gap-2 min-w-48 font-semibold">
                                <p class="text-success">@transaction.Amount @transaction.Unit</p>
                                <!-- Type of donation -->
                                @if (transaction.ResourceName.Equals("money", StringComparison.OrdinalIgnoreCase))
                                {
                                    <p class="badge badge-success min-w-24">Money</p>
                                }
                                else
                                {
                                    <p class="badge badge-warning min-w-24">Resources</p>
                                }
                            </div>
                        </li>
                    }
                }
            }
            @* <li class="p-4 shadow-md flex justify-between rounded-md"> *@
            @*     <!-- Left side --> *@
            @*     <div class="flex flex-col gap-2"> *@
            @*         <!-- User profile + time --> *@
            @*         <div class="flex gap-2"> *@
            @*             <div class="avatar"> *@
            @*                 <div class="w-12 rounded-full"> *@
            @*                     <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/> *@
            @*                 </div> *@
            @*             </div> *@
            @*             <div> *@
            @*                 <p class="font-bold">Username</p> *@
            @*                 <p class="text-neutral">Time</p> *@
            @*             </div> *@
            @*         </div> *@
            @*         <!-- Desc --> *@
            @*         <div class="text-info"> *@
            @*             Inital budget huhuhuhuhu Lorem ipsum dolor sit amet consectetur adipisicing elit. *@
            @*             Incidunt repellat placeat quos aspernatur ipsum optio velit ipsa assumenda *@
            @*             exercitationem et voluptatum blanditiis quaerat, inventore, expedita, deserunt *@
            @*             similique fuga modi. Accusamus. *@
            @*         </div> *@
            @*         <!-- Donate to what --> *@
            @*         <div> *@
            @*             Donated to: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, porro. *@
            @*         </div> *@
            @*     </div> *@
            @* *@
            @*     <!-- Right side --> *@
            @*     <div class="flex flex-col items-end gap-2 min-w-48 font-semibold"> *@
            @*         <p class="text-success">123.123.123 VND</p> *@
            @*         <!-- Type of donation --> *@
            @*         <p class="badge badge-success min-w-24">Money</p> *@
            @*     </div> *@
            @* </li> *@
            @* *@
            @* <!-- An activity --> *@
            @* <li class="p-4 shadow-md flex justify-between rounded-md"> *@
            @*     <!-- Left side --> *@
            @*     <div class="flex flex-col gap-2"> *@
            @*         <!-- User profile + time --> *@
            @*         <div class="flex gap-2"> *@
            @*             <div class="avatar"> *@
            @*                 <div class="w-12 rounded-full"> *@
            @*                     <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"/> *@
            @*                 </div> *@
            @*             </div> *@
            @*             <div> *@
            @*                 <p class="font-bold">Username</p> *@
            @*                 <p class="text-neutral">Time</p> *@
            @*             </div> *@
            @*         </div> *@
            @*         <!-- Desc --> *@
            @*         <div class="text-info"> *@
            @*             Inital budget huhuhuhuhu Lorem ipsum dolor sit amet consectetur adipisicing elit. *@
            @*             Incidunt repellat placeat quos aspernatur ipsum optio velit ipsa assumenda *@
            @*             exercitationem et voluptatum blanditiis quaerat, inventore, expedita, deserunt *@
            @*             similique fuga modi. Accusamus. *@
            @*         </div> *@
            @*         <!-- Donate to what --> *@
            @*         <div> *@
            @*             Donated to: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, porro. *@
            @*         </div> *@
            @*     </div> *@
            @* *@
            @*     <!-- Right side --> *@
            @*     <div class="flex flex-col items-end gap-2 min-w-48 font-semibold"> *@
            @*         <p class="text-success">123 cái</p> *@
            @*         <!-- Type of donation --> *@
            @*         <p class="badge badge-warning min-w-24">Resources</p> *@
            @*     </div> *@
            @* </li> *@
        </ul>
    </div>
</main>