@using Microsoft.IdentityModel.Tokens
@model Dynamics.Models.Models.ViewModel.UserRequestsStatusViewModel
@{
    Layout = "CustomLayout/_LayoutWithNavbarOnly";
    ViewData["Title"] = "Activity history";
    // For incrementing the rows
    var prjCount = 0;
    var orgCount = 0;
    var donCount = 0;
}

<main class="flex md:p-6 pb-0 flex-1 min-h-screen">
@* Left *@
@Html.Partial("CustomComponent/_UserSidebar", "History")
<div class="divider divider-horizontal"></div>
@* Right *@
<div class="w-full h-full flex flex-col gap-12 items-center p-16 bg-white rounded-sm">
<div class="w-full flex justify-center gap-4">
    <div role="tablist" class="tabs tabs-bordered">
        <a asp-action="History" asp-controller="User" class="tab">Transaction history</a>
        <a asp-action="RequestsStatus" asp-controller="User" class="tab tab-active">Requests status</a>
    </div>
</div>

<!-- List of joining request to an organization -->
<section class="w-full">
    <h1 class="text-center text-3xl font-bold mb-2">Manage your join and donation requests</h1>
    <h2 class="text-center mb-8 text-neutral">
        <i>If you have requested to join an organization, a project or any resources donation, it will appear here</i>
    </h2>
    <!-- This will list the user requests to join organizations -->
    @if (!Model.OrganizationJoinRequests.IsNullOrEmpty())
    {
        <h1 class="text-3xl font-bold text-center mb-4 underline">Your requests to join organizations:</h1>
        <!-- Right search bar -->
        <div class="flex w-full justify-end items-center gap-2 mb-4">
            @* Search bar *@
            <div class="join">
                <!-- TODO: Implement search -->
                <div>
                    <div>
                        <div class="input input-bordered flex items-center gap-2 rounded-r-none">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 16 16"
                                 fill="currentColor"
                                 class="h-4 w-4 opacity-70">
                                <path fill-rule="evenodd"
                                      d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <input type="text" class="grow" placeholder="Search something..."/>
                        </div>
                    </div>
                </div>
                <!-- TODO: Implement filter dropdown -->
                <select class="select select-bordered join-item">
                    <option disabled selected>Filter</option>
                    <option>Sci-fi</option>
                    <option>Drama</option>
                    <option>Action</option>
                </select>
            </div>
        </div>
        <!-- End right search bar -->

        <!-- List of activity -->
        <ul class="flex flex-col gap-2 w-full">
            @{
                foreach (var modelOrganizationJoinRequest in Model.OrganizationJoinRequests)
                {
                    orgCount += 1;
                    <li class="p-4 shadow-md flex justify-between items-center rounded-sm">
                        <!-- Left side -->
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-2">
                                <span class="font-bold">@orgCount.</span>
                                <span>@modelOrganizationJoinRequest.Organization.OrganizationName</span>
                            </div>
                        </div>

                        <!-- Right side -->
                        <div class="flex items-center justify-end gap-2 min-w-48 font-semibold">
                            @switch (modelOrganizationJoinRequest.Status)
                            {
                                case 0:
                                    <p class="badge badge-primary min-w-24 relative">Pending</p>
                                    <dialog id="@("oModal" + orgCount)" class="modal">
                                        <div class="modal-box">
                                            <form method="dialog">
                                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                            </form>
                                            <h3 class="text-lg font-bold">Are you sure?</h3>
                                            <p class="py-4">You are about to cancel your request</p>
                                            <div class="modal-action gap-4">
                                                <form asp-action="CancelJoinRequest" asp-controller="User" method="post" class="btn btn-error btn-sm">
                                                    <input type="hidden" name="userID" value="@modelOrganizationJoinRequest.UserID"/>
                                                    <input type="hidden" name="targetID" value="@modelOrganizationJoinRequest.OrganizationID"/>
                                                    <input type="hidden" name="type" value="organization"/>
                                                    <button type="submit">Confirm</button>
                                                </form>
                                                <form method="dialog" class="btn btn-primary btn-sm">
                                                    <button>Go back</button>
                                                </form>
                                            </div>
                                        </div>
                                        <form method="dialog" class="modal-backdrop">
                                            <button>close</button>
                                        </form>
                                    </dialog>
                                    <!-- Open the modal using ID.showModal() method -->
                                    <button type="submit" class="btn btn-error btn-xs tooltip min-h-0" data-tip="Cancel request?"
                                            onclick="document.getElementById('@("oModal" + orgCount)').showModal()">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    break;
                                case 1:
                                    <p class="badge badge-success min-w-24">Accepted</p>
                                    break;
                                default:
                                    @* <p class="badge badge-warning min-w-24">Status besides 0 and 1 are not implemented</p> *@
                                    break;
                            }
                        </div>
                    </li>
                }
            }
        </ul>
        @* // End list *@
        @* <div class="divider divider-neutral py-8"></div> *@
    }
</section>
@* End list of organization request *@

<!-- List of joining request to a project -->
<section class="w-full">
    <!-- This will list the user requests to join organizations -->
    @if (!Model.ProjectJoinRequests.IsNullOrEmpty())
    {
        <h1 class="text-3xl font-bold text-center mb-4 underline">Your requests to join projects:</h1>
        <!-- right search bar -->
        <div class="flex w-full justify-end items-center gap-2 mb-4">
            <div class="join">
                <!-- TODO: Implement search -->
                <div>
                    <div>
                        <div class="input input-bordered flex items-center gap-2 rounded-r-none">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 16 16"
                                 fill="currentColor"
                                 class="h-4 w-4 opacity-70">
                                <path fill-rule="evenodd"
                                      d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <input type="text" class="grow" placeholder="Search something..."/>
                        </div>
                    </div>
                </div>
                <!-- TODO: Implement filter dropdown -->
                <select class="select select-bordered join-item">
                    <option disabled selected>Filter</option>
                    <option>Sci-fi</option>
                    <option>Drama</option>
                    <option>Action</option>
                </select>
            </div>
        </div>
        <!-- End right search bar -->
        <!-- List of activity -->
        <ul class="flex flex-col gap-2 w-full">
            @{
                foreach (var modelProjectJoinRequest in Model.ProjectJoinRequests)
                {
                    prjCount += 1;
                    <li class="p-4 shadow-md flex justify-between rounded-sm">
                        <!-- Left side -->
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-2">
                                <span class="font-bold">@prjCount.</span>
                                <span>@modelProjectJoinRequest.Project.ProjectName</span>
                            </div>
                        </div>

                        <!-- Right side -->
                        <div class="flex items-center justify-end gap-2 min-w-48 font-semibold">
                            @switch (modelProjectJoinRequest.Status)
                            {
                                case 0:
                                    <div class="badge badge-primary min-w-24 relative">Pending</div>
                                    <dialog id="@("pModal" + prjCount)" class="modal">
                                        <div class="modal-box">
                                            <form method="dialog">
                                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                            </form>
                                            <h3 class="text-lg font-bold">Are you sure?</h3>
                                            <p class="py-4">You are about to cancel your request</p>
                                            <div class="modal-action gap-4">
                                                <form asp-action="CancelJoinRequest" asp-controller="User" method="post" class="btn btn-error btn-sm">
                                                    <input type="hidden" name="userID" value="@modelProjectJoinRequest.UserID"/>
                                                    <input type="hidden" name="targetID" value="@modelProjectJoinRequest.ProjectID"/>
                                                    <input type="hidden" name="type" value="project"/>
                                                    <button type="submit">Confirm</button>
                                                </form>
                                                <form method="dialog" class="btn btn-primary btn-sm">
                                                    <button>Go back</button>
                                                </form>
                                            </div>
                                        </div>
                                        <form method="dialog" class="modal-backdrop">
                                            <button>close</button>
                                        </form>
                                    </dialog>
                                    <!-- Open the modal using ID.showModal() method -->
                                    <button type="submit" class="btn btn-error btn-xs tooltip min-h-0" data-tip="Cancel request?"
                                            onclick="document.getElementById('@("pModal" + prjCount)').showModal()">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    break;
                                case 1:
                                    <p class="badge badge-success min-w-24">Accepted</p>
                                    break;
                                default:
                                    <p class="badge badge-warning min-w-24">Status besides 0 and 1 are not implemented</p>
                                    break;
                            }
                        </div>
                    </li>
                }
            }
        </ul>
        @* <div class="divider divider-neutral py-8"></div> *@
    }
</section>
@* End list of project request *@


<!-- Pending donation requests -->
<section class="w-full">
    @if (!Model.ResourcesDonationRequests.IsNullOrEmpty())
    {
        <h1 class="text-3xl font-bold text-center mb-4 underline">Pending resources donation requests</h1>
        <h3 class="text-neutral text-center mb-8">
            <i>Please wait while the receivers confirm your donation.</i>
        </h3>
        <!-- right search bar -->
        <div class="flex w-full justify-end items-center gap-2 mb-4">
            <div class="join">
                <!-- TODO: Implement search -->
                <div>
                    <div>
                        <div class="input input-bordered flex items-center gap-2 rounded-r-none">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 16 16"
                                 fill="currentColor"
                                 class="h-4 w-4 opacity-70">
                                <path fill-rule="evenodd"
                                      d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <input type="text" class="grow" placeholder="Search something..."/>
                        </div>
                    </div>
                </div>
                <!-- TODO: Implement filter dropdown -->
                <select class="select select-bordered join-item">
                    <option disabled selected>Filter</option>
                    <option>Sci-fi</option>
                    <option>Drama</option>
                    <option>Action</option>
                </select>
            </div>
        </div>
        <!-- End right search bar -->

        <!-- Table of the resources -->
        <div class="overflow-x-auto">
            <table class="table table-xs">
                <thead >
                <tr >
                    <th ></th >
                    <th > Donation message </th >
                    <th > Resource</th >
                    <th > Quantity </th >
                    <th > Unit </th >
                    <th > Date </th >
                    <th > Sent to </th >
                    @* <th > Status </th > *@
                    <th> Cancel ?</th>
                </tr >
                </thead >
                <tbody >
                @{
                    foreach (var donationRequest in Model.ResourcesDonationRequests)
                    {
                        donCount += 1;
                        <tr class="hover">
                            <!-- Content - Resource name - Quantity - Unit - Date - Sent to - Status -->
                            <th>@donCount</th>
                            <td>@donationRequest.Message</td>
                            <td>@donationRequest.ResourceName</td>
                            <td>@donationRequest.Amount</td>
                            <td>@donationRequest.Unit</td>
                            <td>@Html.DisplayFor(u => donationRequest.Time)</td>
                            <td>@donationRequest.Target</td>
                            <td>
                                <dialog id="@("dModal" + donCount)" class="modal">
                                    <div class="modal-box">
                                        <form method="dialog">
                                            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                        </form>
                                        <h3 class="text-lg font-bold">Are you sure?</h3>
                                        <p class="py-4">You are about to cancel your donation</p>
                                        <div class="modal-action gap-4">
                                            <form asp-action="CancelDonation" asp-controller="User" method="post" class="btn btn-error btn-sm">
                                                <input type="hidden" name="transactionID" value="@donationRequest.TransactionID"/>
                                                <input type="hidden" name="type" value="@donationRequest.Type"/>
                                                <button type="submit">Confirm</button>
                                            </form>
                                            <form method="dialog" class="btn btn-primary btn-sm">
                                                <button>Go back</button>
                                            </form>
                                        </div>
                                    </div>
                                    <form method="dialog" class="modal-backdrop">
                                        <button>close</button>
                                    </form>
                                </dialog>
                                <!-- Open the modal using ID.showModal() method -->
                                <button type="submit" class="btn btn-error btn-xs tooltip min-h-0" data-tip="Cancel donation ?"
                                        onclick="document.getElementById('@("dModal" + donCount)').showModal()">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                </tbody >

                @* <tfoot > *@
                @* <tr > *@
                @*     <th ></th > *@
                @*     <th > Donation content </th > *@
                @*     <th > Resource </th > *@
                @*     <th > Quantity </th > *@
                @*     <th > Unit </th > *@
                @*     <th > Date </th > *@
                @*     <th > Sent to </th > *@
                @*     $1$ <th > Status </th > #1# *@
                @*     <th> Cancel ?</th> *@
                @* </tr > *@
                @* </tfoot > *@
            </table >
        </div>
        @* <div class="divider divider-neutral py-8">End</div> *@
    }
</section>
<script>
    
</script>
</div>
</main>