@using Dynamics.Utility
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor


@{
    var organizationString = Accessor.HttpContext.Session.GetString("organization");
    Organization currentOrganization = null;
    if (organizationString != null)
    {
        currentOrganization = JsonConvert.DeserializeObject<Organization>(organizationString);
    }

    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
    }

    //Members in a organization with orrganizationId
    var userMembersInOrganization = Accessor.HttpContext.Session.Get<List<User>>(MySettingSession.SESSION_User_In_A_OrganizationID_KEY);

    //find Ceo Oragnization
    User userCeoOrganization = new User();
    foreach (var item in userMembersInOrganization)
    {
        if (item.UserID.Equals(currentOrganization.CEOID))
        {
            userCeoOrganization = item;
            break;
        }
    }

}



<div class="p-5 ">
    <div class="border border-solid border-gray-500 rounded-box">
        <div class="p-6">
            <div class="flex flex-col md:flex-row gap-6 justify-center">
                <div class="flex-1">
                    <h1 class="text-3xl font-bold mb-4">@currentOrganization.OrganizationName</h1>
                    <p class="text-sm font-semibold mb-2 ">Leader: @userCeoOrganization.UserFullName </p>
                    <p class="text-sm font-semibold mb-2 ">Leader Email (Hot Contact): @userCeoOrganization.UserEmail </p>
                    <p class="text-sm font-semibold mb-2 ">Created: @currentOrganization.StartTime </p>
                    <p class="text-sm font-semibold mb-2 ">Members: @userMembersInOrganization.Count()</p>
                    <p class="text-sm font-semibold mb-2 ">Projects: ....</p>
                    <p class="text-sm font-semibold mb-2 ">Email: @(currentOrganization.OrganizationName + currentOrganization.OrganizationID + "@Org.vn")</p>
                    <p class="text-sm font-semibold mb-2 ">
                        Description: @currentOrganization.OrganizationDescription
                    </p>

                </div>
                <div class=" flex-1">
                    <div>
                        <div class="flex justify-center">
                            <img src="https://via.placeholder.com/300x200" alt="Organization representation" class="w-1\/2 h-1\/2 object-cover rounded ">

                        </div>
                        <p class="text-xl font-bold py-5 text-center">Organization OR</p>
                    </div>
                    
                    <div class="flex justify-center">
                        <div class="h-25 flex items-center">
                            @{
                                bool isJoined = false;

                                @foreach (var item in @userMembersInOrganization)
                                {
                                    if (item.UserID.Equals(@currentUser.UserID))
                                    {
                                        isJoined = true;
                                    }
                                }

                                //role is CEO
                                if (isJoined && !currentUser.UserID.Equals(@currentOrganization.CEOID))
                                {
                                    <form asp-action="OutOrganization" asp-controller="Organization" asp-route-organizationId="@currentOrganization.OrganizationID">
                                        <input value="@currentUser.UserID" name="userId" type="hidden">
                                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold w-auto text-sm px-5 py-4 rounded " type="submit">
                                            Out Organization
                                        </button>
                                    </form>
                                }
                                else if (currentUser.UserID.Equals(@currentOrganization.CEOID))
                                {
                                    <a asp-action="Edit" asp-controller="Organization" asp-route-organizationId="@currentOrganization.OrganizationID">
                                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold w-auto text-sm px-5 py-4 rounded " type="submit">
                                            Update Information
                                        </button>
                                    </a>

                                }
                                else
                                {
                                    <a asp-action="JoinOrganization" asp-controller="Organization" asp-route-organizationId="@currentOrganization.OrganizationID">
                                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold w-auto text-sm px-5 py-4 rounded " type="submit">
                                            Join Organization
                                        </button>
                                    </a>
                                }
                            }


                        </div>
                    </div>

                    

                </div>
                <div class="flex-1">
                    <div >
                        <img src="@(currentOrganization.OrganizationPictures ?? "https://via.placeholder.com/300x200")" alt="Organization representation" class="rounded-box w-full h-64 object-contain">
                    </div>
                    <p class="text-xl font-semibold pt-5 text-center">Organization representation image</p>
                </div>


            </div>

            
        </div>
    </div>
    
    

</div>

@*@if (isJoined || currentUser.UserID.Equals(@currentOrganization.CEOID))*@

<div class="flex justify-center   mt-6">
    <nav class="flex gap-6">
            @* <a href="#" class="text-blue-500 border-b-2 border-blue-500 pb-2 px-4 text-xl font-medium">Member</a> *@
            @* Use session current organization so not need organization id *@

        <a asp-action="ManageOrganizationMember" asp-controller="Organization" class="border-b-2 border-gray-300 border-solid text-blue-500 pb-2 px-5 text-2xl font-medium">Member</a>
        <a asp-action="ManageOrganizationResource" asp-controller="Organization" class="border-b-2 border-gray-300 border-solid text-blue-500 pb-2 px-5 text-2xl font-medium">Resources</a>
        @if (currentUser.UserID.Equals(currentOrganization.CEOID))
        {
            <a asp-action="ReviewDonateRequest" asp-controller="Organization" class="border-b-2 border-gray-300 border-solid text-gray-500 pb-2 px-5 text-2xl font-medium">Request Donate</a>
        }

        <a asp-action="ManageOrganizationProjectByOrganizationID" asp-controller="Project" class="border-b-2 border-gray-300 border-blue text-gray-500 pb-2 px-5 text-2xl font-medium">Projects</a>
        <a asp-action="ManageOrganizationTranactionHistory" asp-controller="Organization" class="border-b-2 border-gray-300 border-solid text-gray-500 pb-2 px-5 text-2xl font-medium">Transaction history</a>

        </nav>
    </div>

