@using Dynamics.Models.Models.ViewModel
@using Dynamics.Utility
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor Accessor





@{
    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
    }
}



<div class="p-5 ">
    <div class="border border-solid border-gray-500 rounded-box">
        <div class="p-6">
            <div class="flex flex-col md:flex-row gap-6 justify-center">
                <div class="flex-1">
                    <h1 class="text-3xl font-bold mb-4">@Model.OrganizationName</h1>
                    <p class="text-sm font-semibold mb-2 ">Leader Organization: @Model.CEO.UserFullName</p>
                    <p class="text-sm font-semibold mb-2 ">Created: @Model.StartTime </p>
                    <p class="text-sm font-semibold mb-2 ">Members: @Model.Members</p>
                    <p class="text-sm font-semibold mb-2 ">Projects: @Model.Projects</p>
                    <p class="text-sm font-semibold mb-2 ">Email Organization: @Model.OrganizationEmail</p>
                    <p class="text-sm font-semibold mb-2 ">Phone Organization: @Model.OrganizationPhoneNumber</p>
                    <p class="text-sm font-semibold mb-2 ">Address Organization: @Model.OrganizationAddress</p>
                    <p class="text-sm font-semibold mb-2 ">Description: @Model.OrganizationDescription</p>

                </div>
                <div class=" flex-1">
                    <div>
                        <div class="flex justify-center">
                            <img src="https://via.placeholder.com/300x200" alt="Organization representation" class="w-1\/2 h-1\/2 object-cover rounded ">

                        </div>
                        <p class="text-xl font-bold py-5 text-center">Organization OR</p>
                    </div>

                    <div class="flex justify-center">
                        <div class="h-25">
                            @{
                                bool isJoined = false;
                                int count = 0;

                                //role is CEO
                                if (currentUser.UserID.Equals(Model.CEO.UserID))
                                {
                                    <a asp-action="Edit" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold w-auto text-sm px-5 py-4 rounded " type="submit">
                                            Update Information
                                        </button>
                                    </a>
                                }

                                var organizationMember = new OrganizationMember();// save satatus of currentUser
                                @foreach (var item in Model.OrganizationMember)
                                {
                                    if (item.User.UserID.Equals(@currentUser.UserID))
                                    {
                                        isJoined = true;
                                    organizationMember = item;
                                    }
                                }

                                //request join
                                if (organizationMember.Status == 0)
                                {
                                    <div class="flex justify-center my-5">
                                        <button class="bg-blue-500 hover:bg-blue-900 text-white font-bold w-auto text-sm px-5 py-4 rounded mr-5" type="submit">
                                            Processing
                                        </button>

                                     <form asp-action="OutOrganization" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                                        <input value="@currentUser.UserID" name="userId" type="hidden">
                                        <button class="bg-red-500 hover:bg-blue-900 text-white font-bold w-auto text-sm px-5 py-4 rounded " type="submit">
                                           Cancel
                                        </button>
                                     </form>
                                    </div>
                                }

                                //member
                                if (organizationMember.Status == 1)
                                {
                                    <form asp-action="OutOrganization" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                                        <input value="@currentUser.UserID" name="userId" type="hidden">
                                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold w-auto text-sm px-5 py-4 rounded " type="submit">
                                            Out Organization
                                        </button>
                                    </form>
                                }

                                //user
                                if (!isJoined)
                                {
                                    <form asp-action="sendRequestJoinOrganization" asp-controller="Organization" asp-route-organizationId="@Model.OrganizationID">
                                        <input value="@currentUser.UserID" name="userId" type="hidden">
                                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold w-auto text-sm px-5 py-4 rounded " type="submit">
                                            Join Organization
                                        </button>
                                    </form>
                                }

                            }
                        </div>
                    </div>



                </div>
                <div class="flex-1">
                    <div>
                        <img src="@(Model.OrganizationPictures ?? "https://via.placeholder.com/300x200")" alt="Organization representation" class="rounded-box w-full h-64 object-contain">
                    </div>
                    <p class="text-xl font-semibold pt-5 text-center">Organization representation image</p>
                </div>


            </div>


        </div>
    </div>



</div>

@*@if (isJoined || currentUser.UserID.Equals(@currentOrganization.CEOID))*@

<div class="flex justify-center   mt-6">
    <nav class="flex gap-6">
        @* <a href="#" class="text-blue-500 border-b-2 border-blue-500 pb-2 px-4 text-xl font-medium">Member</a> *@
        <a asp-action="ManageOrganizationMember" asp-controller="Organization" class="border-b-2 border-gray-300 border-solid text-blue-500 pb-2 px-5 text-2xl font-medium">Member</a>
        <a asp-action="ManageOrganizationResource" asp-controller="Organization" class="border-b-2 border-gray-300 border-solid text-blue-500 pb-2 px-5 text-2xl font-medium">Resources</a>
        @if (currentUser.UserID.Equals(Model.CEO.UserID))
        {
        <a asp-action="ReviewDonateRequest" asp-controller="Organization" class="border-b-2 border-gray-300 border-solid text-gray-500 pb-2 px-5 text-2xl font-medium">Request Donate</a>
        } 

        <a asp-action="ManageOrganizationProject" asp-controller="Organization" class="border-b-2 border-gray-300 border-blue text-gray-500 pb-2 px-5 text-2xl font-medium">Projects</a>
        <a asp-action="ManageOrganizationTranactionHistory" asp-controller="Organization" class="border-b-2 border-gray-300 border-solid text-gray-500 pb-2 px-5 text-2xl font-medium">Transaction history</a>

    </nav>
</div>

