@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor


<link rel="stylesheet" href="~/css/output.css">
<!-- Navbar -->
@{
    var userString = Accessor.HttpContext.Session.GetString("user");
    User currentUser = null;
    if (userString != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(userString);
    }
    Accessor.HttpContext.Session.SetString("currentUserID", currentUser?.UserID.ToString());
}
@{
    if (currentUser != null)
    {
        <!-- Navbar -->
        <div
            class="navbar bg-white shadow-md fixed top-2 right-6 left-8 border z-20 w-full rounded-lg"
            style="width: calc(100% - 4rem)">
            <!-- Search bar -->
            <div class="form-control">
                <input
                    type="text"
                    placeholder="Search for something..."
                    class="input input-ghost input-bordered w-full h-10"/>
            </div>
            <!-- Logo, press this should return to home -->
            <div class="flex-1 flex justify-center">
                <a class="text-3xl text-center font-bold text-primary" asp-action="HomePage" asp-controller="Home">
                    <i>Dynamics</i>
                </a>
            </div>

            <div class="flex gap-4">
                <span>@(currentUser != null ? currentUser.UserFullName : "Invalid user")</span>
                <i class="fa-regular fa-bell cursor-pointer"></i>
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar shadow-md">
                        <!-- TODO: Insert username avatar here -->
                        <div class="w-20 rounded-full">
                            <img alt="@currentUser?.UserFullName" src="@(currentUser?.UserAvatar ?? "/images/User/defaultAva.jpg")"/>
                        </div>
                    </div>
                    <ul
                        tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                        <li>
                            <!--This one stays because the username is dynamic so that we can view different user-->
                            <a asp-action="Index" asp-controller="User" asp-route-username="@currentUser.UserFullName">Profile</a>
                        </li>
                        <li>
                            <a asp-action="Edit" asp-controller="User">Manage profile</a>
                        </li>
                        <li>
                            <a asp-action="MyRequest" asp-controller="Request">My request</a>
                        </li>
                        <li>
                            <a asp-action="MyOrganization" asp-controller="Organization" asp-route-userId="@currentUser.UserID">My organization</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Organization">All organization</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Project" asp-route-id="@currentUser?.UserID">My projects</a>
                        </li> 
                        <li>
                            <a asp-action="ViewAllProjects" asp-controller="Project" >All projects</a>
                        </li>
                        <li class="text-rose-500">
                            <a class="flex justify-between" asp-action="Logout" asp-controller="Auth">
                                Logout
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End navbar -->
    }
    else
    {
        <h1 class="text-rose-500 font-bold text-center text-3xl">WARNING: NO USER SESSION DETECTED. DID YOU FORGET TO SET UP ONE OR THIS ONE IS UNAUTHORIZED ?</h1>
        <h1 class="text-rose-500 font-bold text-center text-3xl">Name: @User.Identity.Name</h1>
        <h1 class="text-rose-500 font-bold text-center text-3xl">Type: @User.Identity.AuthenticationType</h1>
        <h1 class="text-rose-500 font-bold text-center text-3xl">IsAuthenticated: @User.Identity.IsAuthenticated</h1>
    }
}